.cabecalho h1 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0px;
    color: black;
}

.cabecalho p {
    font-size: 15px;
    color: gray;
}
label {
    font-size: 13px;
    font-weight: bold;
}
.input{
    border-radius: 5px;
    border: 2px solid rgb(51, 51, 51);
}
.inputs-sm {
    position: relative;
    top: -12px;
}