<div class="d-flex flex-lg-row flex-column justify-content-between">
    <div class="d-flex">
        <div class="cabecalho">
            <div class="d-flex align-items-center">
                <h1 class="mr-3">Análise da Não Conformidade</h1>
            </div>
            <p>
                Revise ou altere os dados da análise da NC. Se tudo estiver OK, submeta a análise desta NC.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center mb-3">
        <button
                [class]="isAllOpen ? selectedClass : unselectedClass"
                class="mr-2 btn-sm"
                (click)="isAllOpen = true"
        >
            <i class="bi bi-arrows-expand"></i>
            Expandir Todos
        </button>
        <button
                [class]="isAllOpen ? unselectedClass : selectedClass"
                (click)="isAllOpen = false"
                class="btn-sm"
        >
            <i class="bi bi-arrows-collapse"></i>
            Colapsar Todos
        </button>
    </div>
</div>
<p-accordion [multiple]="true">
    <p-accordionTab [selected]="isAllOpen">
        <ng-template pTemplate="header">
            <div class="d-flex justify-content-between accordion">
                <p>
                    <i class="bi bi-suit-diamond"></i>
                    Diagrama de Ishikawa
                </p>
                <button class="btn btn-dark red" (click)="goToStepById(0)">
                    <i class="bi bi-pencil mr-1"></i>
                    Alterar
                </button>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="d-flex caixa-cinza pr-2 py-4 mt-4">
                <div>
                    <div class="d-flex">
                        <div class="col">
                            <label>Matéria Prima</label>
                            <p-editor [ngModel]="'<p>'+this.propService.propSolution.lack_materials + '</p><p>' + this.propService.propSolution.low_quality_materials + '</p>' + this.propService.propSolution.material_description" [style]="editorStyle" [readonly]="true" >
                                <ng-template pTemplate="header">
                                </ng-template>
                            </p-editor>

                        </div>
                        <div class="col">
                            <label>Medição</label>
                            <p-editor [ngModel]="'<p>'+this.propService.propSolution.lack_parameters + '</p><p>' + this.propService.propSolution.excess_parameters + '</p><p>' + this.propService.propSolution.non_achievement_goals+ '</p>' + this.propService.propSolution.low_quality_materials + '</p>' + this.propService.propSolution.measurement_description" [style]="editorStyle" [readonly]="true">
                                <ng-template pTemplate="header">
                                </ng-template>
                            </p-editor>
                        </div>
                        <div class="col">
                            <label>Método</label>
                            <p-editor [ngModel]="this.propService.propSolution.method_description" [style]="editorStyle" [readonly]="true">
                                <ng-template pTemplate="header">
                                </ng-template>
                            </p-editor>
                        </div>
                    </div>
                    <img src="../../../../../../assets/images/Espinha de Peixe.png" width="850" class="ml-5 mr-3">
                    <div class="d-flex">
                        <div class="col">
                            <label>Mão de Obra</label>
                            <p-editor [ngModel]="'<p>'+this.propService.propSolution.run_training + '</p>' + this.propService.propSolution.man_power_description" [style]="editorStyle" [readonly]="true">
                                <ng-template pTemplate="header">
                                </ng-template>
                            </p-editor>
                        </div>
                        <div class="col">
                            <label>Meio Ambiente</label>
                            <p-editor [ngModel]="this.propService.propSolution.environment_description"[style]="editorStyle" [readonly]="true">
                                <ng-template pTemplate="header">
                                </ng-template>
                            </p-editor>
                        </div>
                        <div class="col">
                            <label>Máquina</label>
                            <p-editor [ngModel]="this.propService.propSolution.machine_description"[style]="editorStyle" [readonly]="true">
                                <ng-template pTemplate="header">
                                </ng-template>
                            </p-editor>

                        </div>
                    </div>
                </div>
                <div class="d-block mt-5">
                    <label>Efeito</label>
                    <p-editor [ngModel]="this.propService.propSolution.effect_description"
                              [style]="{'height':'300px','width':'230px','border': '2px solid #333333','border-radius': '5px'}"
                              [readonly]="true">
                        <ng-template pTemplate="header">
                        </ng-template>
                    </p-editor>
                </div>
            </div>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab [selected]="isAllOpen">
        <ng-template pTemplate="header">
            <div class="d-flex justify-content-between accordion">
                <p>
                    <i class="bi bi-dice-5"></i>
                     5 Porquês
                </p>
                <button class="btn btn-dark red" (click)="goToStepById(1)">
                    <i class="bi bi-pencil mr-1"></i>
                    Alterar
                </button>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="caixa-cinza p-2">
                <div class="d-flex justify-content-evenly">
                    <p-chip>1</p-chip>
                    <div>
8
                       <textarea  [(ngModel)]="propService.propSolution.first_why" pInputTextarea cols="35" rows="5" class="textarea">
                       </textarea>
                        <div class="text-center form-check caixa-preta mx-3" *ngIf="propService.propSolution.root_cause=='cause1'">
                            <input class="form-check-input" type="checkbox" value="" onclick="return false;" checked/>
                            <label class="form-check-label text-light">
                                Causa Raiz
                            </label>
                        </div>
                    </div>
                    <p-chip>2</p-chip>
                    <div>
                       <textarea  [(ngModel)]="propService.propSolution.second_why" pInputTextarea cols="35" rows="5" class="textarea">
                       </textarea>
                        <div class="text-center form-check caixa-preta mx-3" *ngIf="propService.propSolution.root_cause=='cause2'">
                            <input class="form-check-input" type="checkbox" value="" onclick="return false;" checked/>
                            <label class="form-check-label text-light">
                                Causa Raiz
                            </label>
                        </div>
                    </div>
                    <p-chip>3</p-chip>
                    <div>
                       <textarea  [(ngModel)]="propService.propSolution.third_why" pInputTextarea cols="35" rows="5" class="textarea">
                       </textarea>
                        <div class="text-center form-check caixa-preta mx-3" *ngIf="propService.propSolution.root_cause=='cause3'">
                            <input class="form-check-input" type="checkbox" value="" onclick="return false;" checked/>
                            <label class="form-check-label text-light">
                                Causa Raiz
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-evenly">
                    <p-chip>4</p-chip>
                    <div>
                       <textarea  [(ngModel)]="propService.propSolution.quarter_why" pInputTextarea cols="55" rows="5" class="textarea">
                       </textarea>
                        <div class="text-center form-check caixa-preta mx-3" *ngIf="propService.propSolution.root_cause=='cause4'">
                            <input class="form-check-input" type="checkbox" value="" onclick="return false;" checked/>
                            <label class="form-check-label text-light">
                                Causa Raiz
                            </label>
                        </div>
                    </div>
                    <p-chip>5</p-chip>
                    <div>
                       <textarea  [(ngModel)]="propService.propSolution.fifth_why" pInputTextarea cols="55" rows="5" class="textarea">
                       </textarea>
                        <div class="text-center form-check caixa-preta mx-3" *ngIf="propService.propSolution.root_cause=='cause5'">
                            <input class="form-check-input" type="checkbox" value="" onclick="return false;" checked/>
                            <label class="form-check-label text-light">
                                Causa Raiz
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab [selected]="isAllOpen">
        <ng-template pTemplate="header">
            <div class="d-flex justify-content-between accordion">
                <p>
                    <i class="bi bi-geo"></i>
                    Ações Corretivas
                </p>
                <button class="btn btn-dark red" (click)="goToStepById(2)">
                    <i class="bi bi-pencil mr-1"></i>
                    Alterar
                </button>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="card">
                <p-table [value]="propService.propSolution.actionPlans">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Descrição</th>
                            <th>Responsável</th>
                            <th>Prazo</th>
                            <th>Status</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-action>
                        <tr>
                            <td>{{ action.description }}</td>
                            <td>{{ action.responsible.username}}</td>
                            <td>{{ dataParse(action.term)}}</td>
                            <td>{{ action.status }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab [selected]="isAllOpen">
        <ng-template pTemplate="header">
            <div class="d-flex justify-content-between accordion">
                <p>
                    <i class="bi bi-envelope"></i>
                    Partes Interessadas
                </p>
                <button class="btn btn-dark red" (click)="goToStepById(3)">
                    <i class="bi bi-pencil mr-1"></i>
                    Alterar
                </button>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="card">
                <p-table [value]="propService.propSolution.contacts">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Tipo de Contato</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-contact let-i="rowIndex">
                        <tr>
                            <td>{{ contact.username }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.type }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
    </p-accordionTab>
</p-accordion>
