h2 {
    font-size: 28px;
}

.cabecalho h1 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0px;
    color: black;
}

.cabecalho p {
    font-size: 15px;
    color: gray;
}

:host /deep/ .p-accordion .p-accordion-header:hover a {
    text-decoration: none;
}
.accordion {
    width: 100%;
}
:host ::ng-deep .ql-toolbar.ql-snow {
    display: none;
}
.caixa-cinza{
    background-color: #EEEEEE;
    border-radius: 8px;
}
.textarea{
    overflow-y:auto;
    resize:none;
}
.caixa-preta{
    background: #333333;
    /* Black */

    border: 2px solid #333333;
    border-radius: 8px;
}
.caixa{
    border: 2px solid #333333;
    border-radius: 8px;
}