<div *ngIf="!nonComplianceService.hasProduct()" class="mt-1">
  <app-waiting-product titleFigure="Aguardando dados do produto" image="../../../../../../../assets/images/search-product.svg"></app-waiting-product>
</div>
<div *ngIf="nonComplianceService.hasProduct()">
  <div class="product-info mt-2">
    <div class="product-box p-2 mt-3">
      <div class="title-box d-flex justify-content-between">
        <h5>{{ nonComplianceService.nc.product.name }}</h5>
        <div class="id-box ml-2 d-flex align-items-center">
          <i class="pi pi-ticket mr-2"></i>
          <span>{{ nonComplianceService.nc.product.code }}</span>
        </div>
      </div>
      <p class="mb-0">
        {{ nonComplianceService.nc.product.description }}
      </p>
    </div>
    <div class="d-flex my-3 product-box p-3 ">
      <div class="d-flex flex-column inputs-sm mt-3 col-6">
        <label for="amountNC">{{'newNC.step1.product.amountNC'| translate}} *</label>
        <input
                [(ngModel)]="nonComplianceService.nc.quant_nc"
                name="amountNC"
                type="number"
                pInputText
                [placeholder]="'global.type'| translate"
                class="p-input text-sm input"
        />
      </div>
      <div class="d-flex flex-column inputs-sm mt-3 col-6">
        <label for="amountTotal">{{'newNC.step1.product.amount'| translate}} *</label>
        <input
                [(ngModel)]="nonComplianceService.nc.quant_total"
                name="amountTotal"
                type="number"
                pInputText
                [placeholder]="'global.type'| translate"
                class="p-input text-sm input"
        />
      </div>
    </div>
  </div>
</div>
