<div class="header-create-nc">
  <div class="p-0 col-6">
    <div class="d-flex">
      <button
        pButton
        pRipple
        type="button"
        label="Início"
        class="p-button-secondary"
        icon="pi pi-home"
      ></button>
      <div class="text-box">
        <p>Nova Não Conformidade</p>
      </div>
    </div>
  </div>
  <div class="col-6 d-flex justify-content-end p-0">
    <div class="d-flex buttons">
      <button
        pButton
        pRipple
        type="button"
        label="Cancelar"
        class="p-button-outlined p-button-secondary mr-2"
        iconPos="right"
        icon="pi pi-times"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Salvar"
        class="p-button-secondary"
        iconPos="right"
        icon="pi pi-save"
      ></button>
    </div>
  </div>
</div>
