<div class="header-create-nc">
  <div class="button-box-left col-6">
    <div class="d-flex">
      <button class="btn btn-secondary">
        <i class="bi bi-house"></i>
        Início
      </button>
      <div class="text-box">
        <p>Nova Não Conformidade</p>
      </div>
    </div>
  </div>
  <div class="button-box-right col-6">
    <div class="d-flex buttons">
      <button class="btn btn-outline-secondary">
        Cancelar<i class="bi bi-x-lg"></i>
      </button>
      <button class="btn btn-secondary">
        Salvar<i class="bi bi-download"></i>
      </button>
    </div>
  </div>
</div>
