.header-create-nc {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: flex-end;
  padding-bottom: 15px;
  

}
.text-box {
  display: flex;
  margin-left: 10px;
  align-items: center;
}
.text-box p {
  margin: auto 0;
  font-weight: 500;
  font-size: 24px;
  white-space: nowrap;
}
.cancel-btn {
  border: 2px solid  #B48C28;
  border-radius: 0.25rem;
  color: #B48C28;
  height: 35px;
}
.cancel-btn:hover {
 color: #fff;
 background:#B48C28;
}
@media screen and (max-width: 1000px) {
  .text-box {
    display: none;
  }
}

button {
  width: 110px;
  height: 35px;
  font-size: 14px;
}

i {
  font-size: 13px;
  margin-left: 3px;
  margin-right: 3px;
}


