h1 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #333333;
}
p {
    font-weight: 390;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #333333;
}
.p-autocomplete{
    border-radius: 5px;
    border: 2px solid rgb(51, 51, 51);
}
label {
    font-size: 13px;
    font-weight: bold;
}
.cancel-btn {
    border: 2px solid  #B48C28;
    border-radius: 0.25rem;
    color: #B48C28;
    height: 35px;
  }
.cancel-btn:hover {
    color: #fff;
    background:#B48C28;
}