<div class="mt-4">
    <div *ngIf="stepPosition==1">
        <h1 class="mb-3">
            Matéria prima
        </h1>
        <p>Quando ocorre falta/excesso de insumos ou estes são de má qualidade.</p>

        <div class="form-check pl-0">
            <p-checkbox [(ngModel)]="this.propService.propSolution.lackMaterials" value="Falta de Insumos"></p-checkbox>
            <label class="form-check-label ml-1">Falta de Insumos</label>
        </div>
        <div class="form-check pl-0">
            <p-checkbox [(ngModel)]="this.propService.propSolution.excessMaterials" value="Excesso de Insumos"></p-checkbox>
            <label class="form-check-label ml-1">Excesso de Insumos</label>
        </div>
        <div class="form-check pl-0">
            <p-checkbox [(ngModel)]="this.propService.propSolution.lowQualityMaterials" value="Matéria prima de má qualidade"></p-checkbox>
            <label class="form-check-label ml-1">Matéria prima de má qualidade</label>
        </div>
        <p class="my-3 fw-bold fs-6">Acrescente e detalhe abaixo outras informações pertinentes:</p>
        <p-editor [style]="{'height':'210px'}" [(ngModel)]="this.propService.propSolution.materialDescription" [modules]="{counter: {container: '#counter',unit: 'character'}}">
        </p-editor>
        <div id="counter" class="text-end">0</div>
    </div>
    <div *ngIf="stepPosition==2">
        <h1 class="mb-3">
            Medição
        </h1>
        <p>Quando há erros, falta ou excesso de parâmetros de inspeção, não atingimento de metas ou outras informações de medição.</p>

        <div class="form-check pl-0">
            <p-checkbox [(ngModel)]="this.propService.propSolution.lackParameters" value="Falta de Parâmetros"></p-checkbox>
            <label class="form-check-label ml-1">Falta de Parâmetros</label>
        </div>
        <div class="form-check pl-0">
            <p-checkbox [(ngModel)]="this.propService.propSolution.excessParameters" value="Excesso de Parâmetros"></p-checkbox>
            <label class="form-check-label ml-1">Excesso de Parâmetros</label>
        </div>
        <div class="form-check pl-0">
            <p-checkbox [(ngModel)]="this.propService.propSolution.lackMaterials" value="Não atingimento de metas"></p-checkbox>
            <label class="form-check-label ml-1">Não atingimento de metas</label>
        </div>
        <p class="my-3 fw-bold fs-6">Acrescente e detalhe abaixo outras informações pertinentes:</p>
        <p-editor [style]="{'height':'210px'}" [(ngModel)]="this.propService.propSolution.measurementDescription" [modules]="{counter: {container: '#counter1',unit: 'character'}}">
        </p-editor>
        <div id="counter1" class="text-end">0</div>
    </div>
    <div *ngIf="stepPosition==3">
        <h1 class="mb-3">
            Método
        </h1>
        <p>Quando há ausência de métodos formais ou estes são inadequados, incompletos, incorretos ou não foram divulgados adequadamente. Também se aplica quando: há falta de inspeção, ausência ou falha em sistemas automatizados, má gestão como um todo.</p>

        <p-editor [style]="{'height':'210px'}" [(ngModel)]="this.propService.propSolution.methodDescription" [modules]="{counter: {container: '#counter3',unit: 'character'}}">
        </p-editor>
        <div id="counter3" class="text-end">0</div>
        <div class="d-flex mt-4">
            <div class="d-flex flex-column col-6">
                <label>IT - Instrução de Trabalho</label>
                <p-autoComplete
                        placeholder="Busque..."
                        field="description"
                        [suggestions]="instructions"
                        (completeMethod)="search($event,'instruction')"
                        [(ngModel)]="propService.propSolution.instruction"
                        [style]="{ width: '100%' }"
                        [inputStyle]="{ width: '100%' }"
                        class="p-autocomplete mr-5"
                >
                </p-autoComplete>

            </div>
            <div class="ml-4 d-flex flex-column col-6">
                <label>PR - Procedimento</label>
                <p-autoComplete
                        placeholder="Busque..."
                        field="description"
                        [suggestions]="procedures"
                        (completeMethod)="search($event,'procedure')"
                        [(ngModel)]="propService.propSolution.procedure"
                        [style]="{ width: '100%' }"
                        [inputStyle]="{ width: '100%' }"
                        class="p-autocomplete mr-5"
                >
                </p-autoComplete>
            </div>
        </div>
        <div class="d-flex mt-4">
            <div class="d-flex flex-column col-6">
                <label>NR - Norma Regulamentadora</label>
                <p-autoComplete
                        placeholder="Busque..."
                        field="description"
                        [suggestions]="regulatoryNorms"
                        (completeMethod)="search($event,'regulatory')"
                        [(ngModel)]="propService.propSolution.regulatory"
                        [style]="{ width: '100%' }"
                        [inputStyle]="{ width: '100%' }"
                        class="p-autocomplete mr-5"
                >
                </p-autoComplete>

            </div>
            <div class="ml-4 d-flex flex-column col-6">
                <label>ISO - Norma NBR</label>
                <p-autoComplete
                        placeholder="Busque..."
                        field="description"
                        [suggestions]="nbrs"
                        (completeMethod)="search($event,'nbr')"
                        [(ngModel)]="propService.propSolution.nbr"
                        [style]="{ width: '100%' }"
                        [inputStyle]="{ width: '100%' }"
                        class="p-autocomplete mr-5"
                >
                </p-autoComplete>
            </div>
        </div>
    </div>
    <div *ngIf="stepPosition==4">
        <h1 class="mb-3">
            Mão de Obra
        </h1>
        <p>Quando o colaborador desrespeita procedimentos, desconhece a maneira correta de executar o trabalho (falta de treinamento), ou o faz de maneira inadequada (com pressa, imprudência, etc) ou descompromissada (falta de responsabilidade, motivação, etc).</p>
        <div class="form-check pl-0 my-2">
            <p-checkbox [(ngModel)]="this.propService.propSolution.runTraining" value="Executar treinamento"></p-checkbox>
            <label class="form-check-label ml-1">Executar treinamento</label>
        </div>
        <p-editor [style]="{'height':'210px'}" [(ngModel)]="this.propService.propSolution.manPowerDescription" [modules]="{counter: {container: '#counter4',unit: 'character'}}">
        </p-editor>
        <div id="counter4" class="text-end">0</div>
    </div>
    <div *ngIf="stepPosition==5">
        <h1 class="mb-3">
            Meio Ambiente
        </h1>
        <p class="mb-3">Quando o problema está relacionado a condições ambientais (poluição, temperatura, ruido, luminosidade, etc) ou a condições de infraestrutura (espaço físico, mobiliário, etc).</p>
        <p-editor [style]="{'height':'210px'}" [(ngModel)]="this.propService.propSolution.environmentDescription" [modules]="{counter: {container: '#counter5',unit: 'character'}}">
        </p-editor>
        <div id="counter5" class="text-end">0</div>
    </div>
    <div *ngIf="stepPosition==6">
        <h1 class="mb-3">
            Máquina
        </h1>
        <p>Quando há ausência, obsolescência, má regulagem, quebra ou outros problemas com os equipamentos, inclusive de informática. Se aplica também nas falhas de manuntenção corretiva ou preventiva destes equipamentos.</p>

        <p-editor [style]="{'height':'210px'}" [(ngModel)]="this.propService.propSolution.machineDescription" [modules]="{counter: {container: '#counter6',unit: 'character'}}">
        </p-editor>
        <div id="counter6" class="text-end">0</div>
        <div class="d-flex mt-4">
            <div class="d-flex flex-column col-6">
                <label>Máquinas</label>
                <p-autoComplete
                        placeholder="Busque..."
                        [suggestions]="machines"
                        (completeMethod)="search($event,'machine')"
                        field="name"
                        [(ngModel)]="propService.propSolution.machine"
                        [style]="{ width: '100%' }"
                        [inputStyle]="{ width: '100%' }"
                        class="p-autocomplete mr-5"
                >
                </p-autoComplete>

            </div>
            <div class="ml-4 d-flex flex-column col-6">
                <label>Equipamentos</label>
                <p-autoComplete
                        placeholder="Busque..."
                        [suggestions]="equipaments"
                        (completeMethod)="search($event,'equipament')"
                        [(ngModel)]="propService.propSolution.equipament"
                        field="name"
                        [style]="{ width: '100%' }"
                        [inputStyle]="{ width: '100%' }"
                        class="p-autocomplete mr-5"
                >
                </p-autoComplete>
            </div>
        </div>
    </div>
    <div *ngIf="stepPosition==7">
        <h1 class="mb-3">
            Efeito
        </h1>
        <p class="mb-3">Quando há ausência, obsolescência, má regulagem, quebra ou outros problemas com os equipamentos, inclusive de informática. Se aplica também nas falhas de manuntenção corretiva ou preventiva destes equipamentos.</p>
        <p-editor [style]="{'height':'210px'}" [(ngModel)]="this.propService.propSolution.effectDescription" [modules]="{counter: {container: '#counter7',unit: 'character'}}">
        </p-editor>
        <div id="counter7" class="text-end">0</div>
    </div>
</div>
<div class="d-flex justify-content-between mt-5">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="close()"
    >
        Retornar ao Diagrama
        <i class="bi bi-suit-diamond"></i>
    </button>
    <div class="d-flex">
        <button type="button"
                class="btn btn-dark"
                [disabled]="isFirstStep()"
                (click)="backStep()"
        >
            <i class="bi bi-arrow-left"></i>
            Voltar
        </button>
        <div class="ml-2 mr-2"></div>
        <button
                type="button"
                class="btn btn-dark"
                [disabled]="isLastStep()"
                (click)="nextStep()"
        >
            Avançar
            <i class="bi bi-arrow-right"></i>
        </button>
    </div>
</div>
