h1 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #333333;
}
p {
    font-weight: 390;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #333333;
}