<div class="d-flex flex-column justify-content-center align-items-start">
  <div
    class="d-flex justify-content-center align-items-center"
    style="width: 100%"
  >
    <h1 class="chart-title">{{'charts.title13' | translate}}</h1>
  </div>
  <div
    class="d-flex justify-content-center align-items-center"
    style="width: 100%"
  ></div>
  <div>
    <p-dropdown
      [options]="setoresAux"
      [(ngModel)]="setor"
      (onChange)="popular()"
    ></p-dropdown>
  </div>

  <plotly-plot [data]="graph.data" [layout]="graph.layout"> </plotly-plot>
</div>
