body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: auto;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: rgb(0, 91, 123);
  color: white;
  width: 100%;
}

.right {
  right: 0;
  background-color: white;
}

.centered-left {
  position: absolute;
  left: 1%;
  top: 40%;
  text-align: left;
}

.welcomeText {
  font-weight: lighter;
  font-size: 3em;
  margin-left: 1.7em;
  margin-bottom: 1em;
}

.systemTitle {
  font-weight: bold;
  font-size: 5em;
  margin-left: 1em;
  margin-bottom: 0.7em;
}


.centered-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginFormText {
  font-size: 100%;
  text-align: left;
}

.btn-home {
  margin-top: 5%;
  min-width: 300px;
}
