.designation {
  font-size: 0.8rem;
  color: white;
}

.nomeUser {
  font-size: 1rem;
  color: white;
}

.avatar {
  margin-top: 8;
  width: 50;
  height: 50px;
  border-radius: 50%;
}



::ng-deep .p-menuitem-text {
    color:white !important;
    
}

::ng-deep .p-menuitem-icon {
  color:white !important;
  
}

::ng-deep .p-menubar{
  background-color: #00344D !important;
}

::ng-deep .p-menuitem {
  background-color: #00344D !important;
  margin-left: 10px;
}

::ng-deep .p-menuitem-link:hover{
  background-color: lightgrey !important;
}

