.logo {
  height: 50px;
  width: 50px;
}

.designation {
  font-size: 0.8rem;
  color: white;
}

.name-user {
  font-size: 1rem;
  color: white;
}

.avatar {
  width: 50;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
::ng-deep .p-menuitem-text {
  color: white !important;
}

::ng-deep .p-menuitem-icon {
  color: white !important;
}

::ng-deep .p-menubar {
  background-color: rgb(0, 91, 123) !important;
  border: none;
  border-radius: 0;
}

::ng-deep .p-menuitem {
  background-color: rgb(0, 91, 123) !important;
  margin-left: 10px;
}

::ng-deep .p-menuitem-link:hover {
  background-color: lightgrey !important;
}
