
<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img class="logo" src="../assets/images/logo3.png" alt="Electroson">
  </ng-template>
  <ng-template pTemplate="end">
    <div style="display:flex">
      <img class="avatar" src="../assets/images/avatar.png" alt="Avatar" />
      <div style="display: flex; flex-direction:column;">
        <span class="name-user">{{user?.username}}</span>
        <!-- <span class="fi fi-gr"></span> <span class="fi fi-gr fis"></span> -->
        <!-- <a type="button" style="color: black;" (click)="cancelNc(ncListDTO.nc)" pTooltip="Cancelar NC"><i class="flag flag-united-states"></i></a> -->
      </div>
    </div>
  </ng-template>
</p-menubar>

