.btn-primary-color {
    color: white !important;
    background-color: #00344D !important;
    font-size: 15px;
}

.title {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold
}

.subtitle {
    font-size: 18px;
    font-weight: lighter
}


::ng-deep text  {
    font-size: 25px !important;
    y:0 !important;
}

::ng-deep .legend-label  {
    color:#565656 !important;   
    font-weight: bold !important; 
}

/* ::ng-deep .legend-label:hover{
    font-weight: bold !important;
} */
