<p-confirmDialog acceptLabel="sim" rejectLabel="não" [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>


<div style="display:flex">
  <div style="display: flex; flex-direction:column;">
      <ngx-charts-number-card
        (window:resize)="onResizeCardChart($event)"
        [view]="viewCards" 
        [scheme]="colorScheme"
        [results]="cardValues"
        [cardColor]="cardColor"
        (select)="onSelectCard($event)">
      </ngx-charts-number-card>


    <div style="display: flex; flex-direction:row;">
      <ngx-charts-pie-chart
      (window:resize)="onResizePizzaChart($event)"
      [view]="view" 
      [scheme]="gridColor"
      [gradient]="gradient"
      [results]="pieValues"
      
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      [legendTitle]="legendTitle"
      (activate)="onActivate($event)"
      
      >


      <ng-template #tooltipTemplate let-model="model">
        <h3>
          {{ getFlag(model.name, model.value) }}
        </h3>
        <h4>{{ model.name }}: {{ model.value }}</h4>
      </ng-template>



    </ngx-charts-pie-chart>


    <div>
      <ngx-charts-bar-vertical-2d
        (window:resize)="onResizeBarChart($event)"
        [view]="lineChartView"
        [scheme]="gridColor"
        [legend]="lineChartLegend"
        [showXAxisLabel]="lineChartShowXAxisLabel"
        [showYAxisLabel]="lineChartShowYAxisLabel"
        [xAxis]="lineChartXAxis"
        [yAxis]="lineChartYAxis"
        [xAxisLabel]="lineChartXAxisLabel"
        [yAxisLabel]="lineChartYAxisLabel"
        [results]="lineChartData"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [barPadding]="0"      >
      </ngx-charts-bar-vertical-2d>
    </div>
    </div>
  </div>
</div>

<!-- </div> -->


<!-- <div style="display:flex; margin-top: 50px;">
  <div style="display: flex; flex-direction:row;">
    <ngx-charts-pie-chart
      (window:resize)="onResizePizzaChart($event)"
      [view]="view" 
      [scheme]="gridColor"
      [results]="pieValues"
      [gradient]="gradient"
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      [legendTitle]="legendTitle"
      (activate)="onActivate($event)"
      
      >


      <ng-template #tooltipTemplate let-model="model">
        <h3>
          {{ getFlag(model.name, model.value) }}
        </h3>
        <h4>{{ model.name }}: {{ model.value }}</h4>
      </ng-template>



    </ngx-charts-pie-chart>


    <div>
      <ngx-charts-bar-vertical-2d
        (window:resize)="onResizeBarChart($event)"
        [view]="lineChartView"
        [scheme]="gridColor"
        [legend]="lineChartLegend"
        [showXAxisLabel]="lineChartShowXAxisLabel"
        [showYAxisLabel]="lineChartShowYAxisLabel"
        [xAxis]="lineChartXAxis"
        [yAxis]="lineChartYAxis"
        [xAxisLabel]="lineChartXAxisLabel"
        [yAxisLabel]="lineChartYAxisLabel"
        [results]="lineChartData"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [barPadding]="0"      >
      </ngx-charts-bar-vertical-2d>
    </div>
  </div>
</div> -->


<div id="div-table">
<p class="title">{{'import.home' | translate}}</p>
<p class="subtitle">{{'list.title' | translate}}</p>


<span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="{{'list.globalSearch' | translate}}" />
</span>
<span style="float:right">
  <button (click)="openNc()" class="btn btn-primary-color">{{'newNC.header' | translate}} <i class="bi bi-file-earmark-plus"></i></button>
<!-- <p-button label="Nova Não Conformidade"  (click)="openNc()" icon="pi pi-check" styleClass="p-button-sm p-button-secondary" icon="pi pi-plus" iconPos="right" ></p-button> -->
</span>

<div style="margin-top: 10px;">
  <p-table  responsiveLayout="scroll" #dt 
  [globalFilterFields]="['id','emissor', 'status', 'tipos_nc_item', 'prazo','tipos_local_item', 'data_abertura', 'dsc_produto']" 
  [value]="listNcs" [columns]="cols" [paginator]="true" [rows]="rows" [(first)]="first" [totalRecords]="totalRecords" 
  [showCurrentPageReport]="true" responsiveLayout="scroll" 
  currentPageReportTemplate="{{'list.currentPageMsg1' | translate}} {first} {{'list.currentPageMsg2' | translate}} {last} {{'list.currentPageMsg3' | translate}} {totalRecords} {{'list.currentPageMsg4' | translate}}" [rowsPerPageOptions]="[5,10,25,50]" [filterDelay]="0">

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">
          <div class="flex justify-content-between align-items-center" style="width:95px;">
              {{'list.column1' | translate}}<br>
              <p-sortIcon field="id"></p-sortIcon>
              <p-columnFilter type="number" field="id" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        
        <th pSortableColumn="emissor">
          <div class="flex justify-content-between align-items-center" style="width:95px;">
              {{'list.column2' | translate}}<br>
              <p-sortIcon field="emissor"></p-sortIcon>
              <p-columnFilter type="text" field="emissor" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="tipos_nc_item">
          <div class="flex justify-content-between align-items-center" style="width:100px;">
              {{'list.column3' | translate}}<br>
              <p-sortIcon field="tipos_nc_item"></p-sortIcon>
              <p-columnFilter type="text" field="tipos_nc_item" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>


        <th pSortableColumn="tipos_local_item">
          <div class="flex justify-content-between align-items-center" style="width:110px;">
              {{'list.column4' | translate}}<br>
              <p-sortIcon field="tipos_local_item"></p-sortIcon>
              <p-columnFilter type="text" field="tipos_local_item" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="dsc_produto">
          <div class="flex justify-content-between align-items-center">
              {{'list.column5' | translate}}<br>
              <p-sortIcon field="dsc_produto"></p-sortIcon>
              <p-columnFilter type="text" field="dsc_produto" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="status">
            <div class="flex justify-content-between align-items-center">
                {{'list.column6' | translate}}<br>
                <p-sortIcon field="status"></p-sortIcon>
                <p-columnFilter type="text" field="status" display="menu" class="ml-auto"></p-columnFilter>
            </div>
        </th>


        <th pSortableColumn="data_abertura">
          <div class="flex justify-content-between align-items-center" style="width:130px;">
              {{'list.column7' | translate}}<br>
              <p-sortIcon field="data_abertura"></p-sortIcon>
              <p-columnFilter type="date" field="data_abertura" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>


        <th pSortableColumn="prazo">
          <div class="flex justify-content-between align-items-center" style="width:80px;">
              {{'list.column8' | translate}}<br>
              <p-sortIcon field="prazo"></p-sortIcon>
              <p-columnFilter type="numeric" field="prazo" display="menu" class="ml-auto"></p-columnFilter>
          </div>
      </th>

        <th style="width: 1rem"></th>
        <th style="width: 1rem"></th>
        <th style="width: 1rem"></th>
    </tr>

  </ng-template>
    <ng-template pTemplate="body" let-ncListDTO>



      <tr class="p-selectable-row">
        <td>
            <span class="p-column-title">{{'list.column1' | translate}}</span>
            {{ncListDTO.numero}}
        </td>


        <td>
          <span class="p-column-title">{{'list.column2' | translate}}</span>
          {{ncListDTO.emissor}}
        </td>

        <td>
            <span class="p-column-title">{{'list.column3' | translate}}</span>
            {{ncListDTO.tipos_nc_item}}
        </td>

        <td>
            <span class="p-column-title">{{'list.column4' | translate}}</span>
            {{ncListDTO.tipos_local_item}}
        </td>

        <td>
          <span class="p-column-title">{{'list.column5' | translate}}</span>
          {{ncListDTO.dsc_produto}}
      </td>

        <td>
          <span class="p-column-title">{{'list.column6' | translate}}</span>
          <span [ngSwitch]="ncListDTO.status" >
            <span *ngSwitchCase="'open'"> {{'global.status1'| translate}}</span>
                        <span *ngSwitchCase="'running'">{{'global.status2'| translate}}</span>
                        <span *ngSwitchCase="'late'"> {{'global.status3'| translate}}</span>
                        <span *ngSwitchCase="'deleted'"> {{'global.status4'| translate}}</span>
                        <span *ngSwitchCase="'archived'"> {{'global.status5'| translate}}</span>
                        <span *ngSwitchCase="'canceled'"> {{'global.status6'| translate}}</span>
                        <span *ngSwitchCase="'closed'"> {{'global.status7'| translate}}</span>
          </span>
        </td>

        <td>
          <span class="p-column-title">{{'list.column7' | translate}}</span>
          {{ncListDTO.data_abertura | date: 'dd/MM/yyyy'}}
        </td>

        <td>
          <span class="p-column-title">{{'list.column8' | translate}}</span>
          {{ncListDTO.prazo}}
        </td>

        <td style="text-align: center">
            <a style="color: black;" type="button" pTooltip="{{'list.moreInfoBtn' | translate}}" (click)="visualizarInformacoes(ncListDTO.nc.id, ncListDTO.status)" ><i class="bi bi-info-circle"></i></a>
        </td>

        <td style="text-align: center">
          <a type="button" style="color: black;" (click)="edit(ncListDTO.nc.id, ncListDTO.status)" pTooltip="{{'list.editNcBtn' | translate}}"><i class="bi bi-file-richtext"></i></a>
        </td>

        <td style="text-align: center">
          <a type="button" style="color: black;" (click)="cancelNc(ncListDTO.nc)" pTooltip="{{'list.cancelNcBtn' | translate}}"><i class="pi pi-times"></i></a>
        </td>

    </tr>

    </ng-template>
  </p-table>
</div>
  
</div>
