<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast key="myKey2"></p-toast>
<p class="title">Início</p>
<p class="subtitle">Visualize ou crie não conformidades</p>

<span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Global Search" />
</span>
<span style="float:right">
  <button (click)="openNc()" class="btn btn-primary-color">Nova Não Conformidade <i class="bi bi-file-earmark-plus"></i></button>
<!-- <p-button label="Nova Não Conformidade"  (click)="openNc()" icon="pi pi-check" styleClass="p-button-sm p-button-secondary" icon="pi pi-plus" iconPos="right" ></p-button> -->
</span>

<div style="margin-top: 10px;">
<p-table  responsiveLayout="scroll" #dt [globalFilterFields]="['numero','parceiro','emissor', 'estado']" [value]="listNcs" [columns]="cols" [paginator]="true" [rows]="rows" [(first)]="first" [totalRecords]="totalRecords" [showCurrentPageReport]="true" responsiveLayout="scroll"
currentPageReportTemplate="Exibindo de {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[5,10,25,50]" [filterDelay]="0">

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="numero">
        <div class="flex justify-content-between align-items-center">
            Número
            <p-sortIcon field="numero"></p-sortIcon>
            <p-columnFilter type="text" field="numero" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="parceiro">
          <div class="flex justify-content-between align-items-center">
              Parceiro
              <p-sortIcon field="parceiro"></p-sortIcon>
              <p-columnFilter type="text" field="parceiro" display="menu" class="ml-auto"></p-columnFilter>
          </div>
      </th>
      <th pSortableColumn="emissor">
        <div class="flex justify-content-between align-items-center">
            Emissor
            <p-sortIcon field="emissor"></p-sortIcon>
            <p-columnFilter type="text" field="emissor" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="estado">
          <div class="flex justify-content-between align-items-center">
              Estado
              <p-sortIcon field="estado"></p-sortIcon>
              <p-columnFilter type="text" field="estado" display="menu" class="ml-auto"></p-columnFilter>
          </div>
      </th>

      <th style="width: 1rem"></th>
      <th style="width: 1rem"></th>
      <th style="width: 1rem"></th>
      <th style="width: 1rem"></th>
  </tr>

</ng-template>
  <ng-template pTemplate="body" let-ncListDTO>



    <tr class="p-selectable-row">
      <td>
          <span class="p-column-title">Número</span>
          {{ncListDTO.numero}}
      </td>

      <td>
          <span class="p-column-title">Parceiro</span>
          {{ncListDTO.parceiro}}
      </td>

      <td>
        <span class="p-column-title">Emissor</span>
        {{ncListDTO.emissor}}
      </td>

      <td>
        <span class="p-column-title">Estado</span>
        <span [ngSwitch]="ncListDTO.estado" >
          <span *ngSwitchCase="'open'"> Aberta</span>
          <span *ngSwitchCase="'running'"> Em execução</span>
          <span *ngSwitchCase="'late'"> Atrasada</span>
          <span *ngSwitchCase="'deleted'"> Deletada</span>
          <span *ngSwitchCase="'archived'"> Arquivada</span>
          <span *ngSwitchCase="'canceled'"> Cancelada</span>
        </span>
      </td>

      <td style="text-align: center">
          <a style="color: black;" type="button" pTooltip="Ver informações da NC" (click)="visualizarInformacoes(ncListDTO.nc.id, ncListDTO.estado)" ><i class="bi bi-info-circle"></i></a>
      </td>

      <td style="text-align: center">
        <a type="button" style="color: black;" (click)="edit(ncListDTO.nc.id, ncListDTO.estado)" pTooltip="Continuar o preenchimento da NC"><i class="bi bi-file-richtext"></i></a>
      </td>

      <td style="text-align: center">
        <a type="button" style="color: black;" (click)="delete(ncListDTO.nc.id)" pTooltip="Alterar o status da NC para deletado"><i class="bi bi-trash"></i></a>
      </td>

      <td style="text-align: center">
        <a type="button"  style="color: black;" (click)="archived(ncListDTO.nc.id)" pTooltip="Alterar o status da NC para arquivado"><i class="bi bi-archive"></i></a>
      </td>

  </tr>

  </ng-template>
</p-table>
</div>