<div class="cabecalho">
    <h1>Identificação da Não Conformidade</h1>
    <p>Preencha os campos abaixo com as informações da NC</p>
</div>

<div class="row">
    <div class="col-sm">
        <div class="dropdown">
            <p>Tipo de NC</p>
                <select [(ngModel)]="tiposNcItem">
                    
                    <option *ngFor="let tiposNc of tiposNc">{{tiposNc}}</option>
                </select>
            </div>
    </div>

    <div class="col-sm">
        <div class="dropdown">
            <p>Segmento de Auditoria</p>
                <select [(ngModel)]="tiposAuditoriaItem">
                    
                    <option *ngFor="let tiposAuditoria of tiposAuditoria">{{tiposAuditoria}}</option>
                </select>
            </div>
    </div>

    <div class="col">
        <div class="dropdown">
            <p>Local ou Setor Afetado</p>
                <select [(ngModel)]="tiposLocalItem">
                    
                    <option *ngFor="let tiposLocalSetor of tiposLocalSetor">{{tiposLocalSetor}}</option>
                </select>
            </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="date-div">
            <label for="">Data de Abertura</label>
            
            <input type="date" ><i class="bi bi-calendar3"></i>
            <p>Altere a data caso a NC tenha acontecido antes deste cadastro.</p>
        </div>
    </div>

    <div class="col">
        <div class="date-div">
            <label for="">Data de Fechamento</label>
            <input type="date" >
            <i class="bi bi-calendar3"></i>
            <p>Programada automaticamente para 30 dias ocorridos após a data de abertura.</p>
        </div>
    </div>
</div>

<hr class="separator">





