<div class="d-flex flex-column align-items-center justify-content-center">
  <div class="mb-3">
    <h1 class="chart-title">{{'charts.title6' | translate}}</h1>
  </div>
    <div class="d-flex justify-content-start mb-5" style="width:100%">
      <p-dropdown
      [options]="tiposNc"
      [(ngModel)]="tiposNcAtual"
      (onChange)="popular()"
    ></p-dropdown>
    </div>
  <!-- <ngx-charts-bar-vertical
    [view]="size"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [scheme]="'ocean'"

    
  >
  </ngx-charts-bar-vertical> -->
  <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="graph.config"> </plotly-plot>
</div>
