
<div class="d-flex flex-lg-row flex-column justify-content-between">
    <div class="cabecalho">
        <h1 class="mr-3">{{'about.proposalComponent.5why'| translate}}</h1>
        <p>
            {{'createProp.step1.5why'| translate}}
        </p>
    </div>
    <div class="d-flex justify-content-end align-items-center mb-3" *ngIf="showAllTextAreas">
        <button type="button"
                class="btn btn-dark"
                style="background-color: #00344D;"
                (click)="showAllTextAreas=false"
        >
            <i class="bi bi-arrow-left"></i>
            {{'createProp.step1.backWhy'| translate}}
        </button>
    </div>
</div>
<div>
    <div class="d-flex justify-content-center">
        <div class="d-block p-2 caixa-cinza mb-3">
            <div class="d-flex">
                <p-chip>
                    1
                </p-chip>
                <div class="d-flex align-items-center flex-row">
                    <label class="">{{'createProp.step1.why'| translate}}</label>
                    <input style="width:300px;" class="ml-1 mr-1" type="text" [placeholder]="'createProp.step1.firstWhy'| translate" [(ngModel)]="propService.step2.textAreas[5]">
                    <label class="">?</label>
                </div>
            </div>
            <textarea  [(ngModel)]="propService.step2.textAreas[0]" pInputTextarea cols="60" rows="5" class="textarea">
            </textarea>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-3">
        <div class="d-block p-2 caixa-cinza">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <p-chip>
                        2
                    </p-chip>
                    <label class="ml-3">{{'createProp.step1.why'| translate}} {{propService.step2.textAreas[0]}} ?</label>
                </div>
                <div class="form-check">
                    <p-radioButton *ngIf="propService.step2.textAreas[1] " name="cause" value="cause2" [(ngModel)]="propService.step2.selectedValue"></p-radioButton>
                    <label class="form-check-label radio-label ml-1">{{'createProp.step1.rootCause'| translate}}</label>
                </div>
            </div>

            <textarea  [(ngModel)]="propService.step2.textAreas[1]" pInputTextarea cols="60" rows="5" class="textarea" [disabled]="!propService.step2.textAreas[0]&&!propService.step2.textAreas[1]">
            </textarea>
        </div>
        <div class="d-block p-2 caixa-cinza">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <p-chip>
                        3
                    </p-chip>
                    <label class="ml-3">{{'createProp.step1.why'| translate}} {{propService.step2.textAreas[1]}} ?</label>
                </div>
                <div class="form-check">
                    <p-radioButton *ngIf="propService.step2.textAreas[2] " name="cause" value="cause3" [(ngModel)]="propService.step2.selectedValue"></p-radioButton>
                    <label class="form-check-label radio-label ml-1">{{'createProp.step1.rootCause'| translate}}</label>
                </div>
            </div>
            <textarea  [(ngModel)]="propService.step2.textAreas[2]" pInputTextarea cols="60" rows="5" class="textarea" [disabled]="!propService.step2.textAreas[1]&&!propService.step2.textAreas[2]">
            </textarea>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-block p-2 caixa-cinza">
            <div class="d-flex justify-content-between">
            <div class="d-flex">
                <p-chip>
                    4
                </p-chip>
                <label class="ml-3">{{'createProp.step1.why'| translate}} {{propService.step2.textAreas[2]}} ?</label>
            </div>
            <div class="form-check">
                <p-radioButton *ngIf="propService.step2.textAreas[3]" name="cause" value="cause4" [(ngModel)]="propService.step2.selectedValue"></p-radioButton>
                <label class="form-check-label radio-label ml-1">{{'createProp.step1.rootCause'| translate}}</label>
            </div>
        </div>
            <textarea  [(ngModel)]="propService.step2.textAreas[3]" pInputTextarea cols="60" rows="5" class="textarea" [disabled]="!propService.step2.textAreas[2]&&!propService.step2.textAreas[3]">
            </textarea>
        </div>
        <div class="d-block p-2 caixa-cinza">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <p-chip>
                        5
                    </p-chip>
                    <label class="ml-3">{{'createProp.step1.why'| translate}} {{propService.step2.textAreas[3]}} ?</label>
                </div>
                <div class="form-check">
                    <p-radioButton *ngIf="propService.step2.textAreas[4] " name="cause" value="cause5" [(ngModel)]="propService.step2.selectedValue"></p-radioButton>
                    <label class="form-check-label radio-label ml-1">{{'createProp.step1.rootCause'| translate}}</label>
                </div>
            </div>
            <textarea  [(ngModel)]="propService.step2.textAreas[4]" pInputTextarea cols="60" rows="5" class="textarea" [disabled]="!propService.step2.textAreas[3]&&!propService.step2.textAreas[4]">
            </textarea>
        </div>
    </div>
</div>

