<div
  class="d-flex flex-column justify-content-around align-items-center"
  style=""
  *ngIf="carregou()"
>
<app-nc-types [size]="[getWidth(), height]"></app-nc-types>
  <!-- <app-nc-receptor-emissor [size]="[getWidth(), height]"></app-nc-receptor-emissor>
  <app-nc-status [size]="[getWidth(), height]"></app-nc-status>
  <app-nc-year [size]="[getWidth(), height]"></app-nc-year>
  
  <app-nc-emissor [size]="[getWidth(), height]"></app-nc-emissor>
  <app-nc-receptor [size]="[getWidth(), height]"></app-nc-receptor>
  <app-cost-sector [size]="[getWidth(), height]"></app-cost-sector>
  <app-nc-count [size]="[getWidth(), height]"></app-nc-count>
 <app-nc-actionplan [size]="[getWidth(), height]"></app-nc-actionplan>
  <app-nc-products [size]="[getWidth(), height]"></app-nc-products> 
  <app-nc-sector-proposal [size]="[getWidth(), height]"></app-nc-sector-proposal> -->
</div>
