
.moldura-dois {
	width: 1400px; 
	border:8px inset #5f6632;
	padding:15px;
	background: white;
	}

.moldura-um {
	width: 1500px; /*404+8+8(bordas)+15+15(paddings)*/
	border:20px inset #5d738b;
	padding:25px;
	background: transparent url(/bg-um.gif);
    margin-top: 50px;
	}

.filtro-title{
	font-weight: bold;
	margin: 0;
}



.filter-row{
	margin-top: 30px;
}

.filter-span{
font-size: large;
font-weight: 500;
margin-right: 15px;
}

.filter-div{
	margin-left: 20px;
}
