<div class="div-ident-parceiro d-flex mt-3 flex-column flex-lg-row">
  <div class="div-ident-parceiro">
    <h2>
      <i class="bi bi-card-text"></i>
      Dados de Identificação
    </h2>
    <div class="d-flex justify-content-between flex-column flex-lg-row">
      <div class="contato-info d-flex flex-row">
        <i class="bi bi-ticket-perforated mr-1"></i>
        <div>
          <span class="info-titulo">Número</span>
          <br />
          <span class="info-dados">{{aboutSrvc.nc?.code||""}}</span>
        </div>
      </div>
      <div class="contato-info d-flex flex-row">
        <i class="bi bi-calendar-week mr-1"></i>
        <div>
          <span class="info-titulo">Data de Abertura</span>
          <br />
          <span class="info-dados">
            {{formato_brasileiro(aboutSrvc.nc?.data_abertura)}}

          </span>
        </div>
      </div>
      <div class="contato-info d-flex flex-row">
        <i class="bi bi-calendar-week mr-1"></i>
        <div>
          <span class="info-titulo">Prazo de Fechamento</span>
          <br/>
          <span class="info-dados">
            {{formato_brasileiro(aboutSrvc.nc?.data_fechamento)}}

          </span>
        </div>
      </div>
    </div>
  </div>
  <p-divider class="test1" layout="vertical"></p-divider>
  <div class="div-ident-parceiro">
    <h2>
      <i class="bi bi-people mr-1"></i>
      Dados de Emissão
    </h2>
    <div class="d-flex justify-content-between flex-column flex-lg-row">
      <div class="contato-info d-flex flex-row">
        <i class="bi bi-person-circle mr-1"></i>
        <div>
          <span class="info-titulo">Emissor</span>
          <br/>
          <span class="info-dados">{{aboutSrvc.nc?.emissor?.username||"não preenchido"}}</span>
        </div>
      </div>
      <div class="contato-info d-flex flex-row">
        <i class="bi bi-person-circle mr-1"></i>
        <div>
          <span class="info-titulo">Responsável</span>
          <br/>
          <span class="info-dados">{{aboutSrvc.nc?.emissor?.sector?.responsible_name||"não preenchido"}}</span>
        </div>
      </div>
      <div class="contato-info d-flex flex-row">
        <i class="bi bi-geo-alt mr-1"></i>
        <div>
          <span class="info-titulo">Departamento</span>
          <br>
          <p class="info-dados">{{aboutSrvc.nc?.emissor?.sector?.name||"não preenchido"}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="div-ident-parceiro mt-3">
  <h1 class="titulo-parceiro">Dados do Parceiro</h1>
  <div class="d-flex flex-wrap">
    <div class="item">
      <div class="dados-parceiro razao-social">
        <div class="d-flex">
          <h2 class="mr-2">{{returnTitle()}}</h2>
          <p-chip>
            <i class="bi bi-ticket-perforated mr-2"></i>
            {{ (aboutSrvc.nc?.customer?.code||aboutSrvc.nc?.provider?.code)||"00000000" }}
          </p-chip>
        </div>
        <p>
          {{(aboutSrvc.nc?.customer?.corporate_name||aboutSrvc.nc?.provider?.corporate_name||aboutSrvc.nc?.sector?.name)
        ||"Dado não preenchido"}}
        </p>
      </div>
    </div>
    <div class="item">
      <div class="dados-parceiro">
        <div class="dados-contato">
          <h1>Dados do Contato</h1>
          <div></div>
          <div class="contato-info d-flex flex-row">
            <i class="pi pi-user"></i>
            <div>
              <span class="info-titulo">Nome</span>
              <br />
              <span class="info-dados">
                {{(aboutSrvc.nc?.customer?.responsible_name||aboutSrvc.nc?.provider?.responsible_name||aboutSrvc.nc?.sector?.responsible_name)
              ||"Dado não preenchido"}}
              </span>
            </div>
          </div>
          <div class="contato-info d-flex flex-row">
            <i class="pi pi-phone"></i>
            <div>
              <span class="info-titulo">Telefone</span>
              <br />
              <span class="info-dados">
                {{(aboutSrvc.nc?.customer?.responsible_phone||aboutSrvc.nc?.provider?.responsible_phone||aboutSrvc.nc?.sector?.responsible_phone)
              ||"(00) 00000-0000"}}
              </span>
            </div>
          </div>
          <div class="contato-info d-flex flex-row">
            <i class="pi pi-at"></i>
            <div>
              <span class="info-titulo">E-mail</span>
              <br />
              <span class="info-dados">
                {{(aboutSrvc.nc?.customer?.responsible_email||aboutSrvc.nc?.provider?.responsible_email||aboutSrvc.nc?.sector?.responsible_email)
              ||"Dado não preenchido"}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


