.content h3 {
  font-weight: 700;
  font-size: 28px;
}
.input-box input {
  width: 100%;
}
.content{
  min-width: 430px;
}
.text-box span {
  opacity: 0.6;
}
.div-attachment {
  outline: none;
  overflow: hidden;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  padding: 8px;
  height: 250px;
  text-align: center;

  background-color: rgb(243, 243, 243);
}

.div-attachment h1 {
  margin-top: 5px;
  font-size: 25px;
  color: rgb(89, 89, 89);
}

.white-background {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  height: 75%;
  background-color: white;
  border-radius: 7px;
}

.white-background-files {
  padding: 10px;
  display: flex;
  flex-flow: column;
  overflow: auto;
  margin-top: 8px;
  height: 75%;
  background-color: white;
  border-radius: 7px;
}

.white-background p {
  position: absolute;
  margin-top: 110px;
  font-size: 12px;
  color: gray;
  flex-wrap: wrap;
}
.white-background-files button {
  background-color: white;
  border: none;
  width: 40px;
  font-size: 14px;
  outline: none;
}

.white-background i {
  position: absolute;
  font-size: 30px;
  color: rgb(89, 89, 89);
  font-size: 60px;
}

.white-background-files i {
  font-size: 17px;
  color: rgb(89, 89, 89);
}

.input-attachment {
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 3;
}


@media (max-width: 500px) {
  .white-background p {
    width: 220px;
  }
}

.dropdown p {
  font-size: 14px;
}

.dropdown select {
  background-color: white;
  border-radius: 5px;
  border: 2px solid rgb(51, 51, 51);
  padding: 7px;
  width: 100%;
  font-size: 13px;
}

label {
  min-width: 200px;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 2px;
}

.cabecalho h1 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0px;
}



.cabecalho p {
  font-size: 14px;
  color: gray;
}

input{
  outline: none;
  background-color: white;
  border-radius: 5px;
  border: 2px solid rgb(51, 51, 51);
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  width: 100%;
  font-size: 14px;
}

