<div class="content">
  <div>
    <div class="content">
      <div class="text-box">
        <div class="cabecalho">
          <h1>{{'newNC.step1.checkpoint.title'| translate}}</h1>
          <p>
            {{'newNC.step1.checkpoint.subtitle'| translate}}
          </p>
        </div>

        <div class="dropdown">
          <select (change)="limparCampos()" [(ngModel)]="nonComplicanceService.nc.tipo_controle" [disabled]="!nonComplicanceService.nc.partner">
            <option value="" disabled selected hidden>{{'global.select'| translate}}</option>
            <option *ngFor="let op of controleOptions">
              {{ op }}
            </option>
          </select>
        </div>
        <div class="mt-3">
          <app-checkpoint-items></app-checkpoint-items>
        </div>
      </div>
    </div>
  </div>
</div>
