<div class="content">
  <div>
    <div class="content">
      <div class="text-box">
        <div class="cabecalho">
          <h1>Ponto de Controle*</h1>
          <p>
            Selecione a opção desejada e o número referente. Visualize a
            documentação se necessário.
          </p>
        </div>

        <div class="dropdown">
          <select (change)="limparCampos()" [(ngModel)]="nonComplicanceService.nc.tipo_controle" [disabled]="!nonComplicanceService.nc.partner">
            <option value="" disabled selected hidden>Selecione...</option>
            <option *ngFor="let op of controleOptions">
              {{ op }}
            </option>
          </select>
        </div>
        <div class="mt-3">
          <app-checkpoint-items></app-checkpoint-items>
        </div>
      </div>
    </div>
  </div>
</div>
