<div class="stepper-content">
    <div class="stepper-buttons">
        <div class="p-0">
            <button
                    type="button"
                    class="btn btn-dark btn-sm"
                    (click)="backStep()"
                    [disabled]="isFirstStep()"
            >
                <i class="pi pi-arrow-left"></i>
                Voltar
            </button>
        </div>
        <div class="stepper">
            <p-steps
                    [model]="items"
                    [readonly]="true"
                    [activeIndex]="stepPosition"
            ></p-steps>
        </div>
        <div class="d-flex justify-content-end p-0 last-button">
            <div>
                <button
                        type="button"
                        (click)="nextStep()"
                        [disabled]="disableButton()"
                        class="btn btn-dark btn-sm"
                >
                    {{ getNextPageBtnLabel() }}
                    <i [class]="getNextPageBtnIcon()"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="content-create-nc">
        <div *ngIf="stepPosition === 0">
            <app-ishikawa-diagram></app-ishikawa-diagram>
        </div>
        <div *ngIf="stepPosition === 1">
            <app-reasons-why></app-reasons-why>
        </div>
        <div *ngIf="stepPosition === 2">
            <app-action-plan></app-action-plan>
        </div>
        <div *ngIf="stepPosition === 3">
            <app-notification></app-notification>
        </div>
        <div *ngIf="stepPosition === 4">
            <app-review-infomations
                    (changeStepPosition)="changeStepByPosition($event)"
            >

            </app-review-infomations>
        </div>
    </div>
</div>
