<div class="d-flex flex-lg-row flex-column justify-content-between">
    <div class="d-flex">
        <div class="cabecalho">
            <div class="d-flex align-items-center">
                <h1 class="mr-3">Proposta de Solução</h1>
            </div>
            <p>
                Elabore e visualize uma solução para esta NC.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center mb-3">

        <a
                href="/ncs/createProp/{{id}}"  
                role="button"
                class="btn btn-dark"
        >
            Criar Proposta
            <i class="bi bi-file-earmark-medical"></i>
        </a>
    </div>
</div>
<div class="image-box d-flex align-items-center justify-content-center mt-5">
    <img src="../../../../../../../assets/images/Ilustrações2.svg" alt="" />

</div>
<h2 class="text-center text-black">NC ainda sem solução proposta!</h2>
<h3 class="text-center text-black">A fase de  solução deve ser completada para exibição de resultados.</h3>
<h5 class="text-center">Contate o responsável pela análise caso este não seja você.</h5>

<div class="text-center">
    <a
            href="/ncs/createProp/{{id}}"  
            role="button"
            class="btn btn-dark"
    >
        Criar Proposta
        <i class="bi bi-file-earmark-medical"></i>
    </a>
</div>