<div class="header">
  <div class="row m-0">
    <div class="cabecalho text-box p-0 col-lg-7 mr-3">
      <h1>Dados do Produto</h1>
      <p>
        Identifique o produto desta NC.
        <br>
        Caso não encontre o produto, atualize a base de cadastros.
      </p>
    </div>
    <div class="button-box col-lg-4 mb-4 mb-lg-0 ml-4">
      <p class="att">
        <i class="pi pi-history"></i> ultima atualização:
        {{ returnUpdateTime() }}
      </p>
      <a      target="_blank"
              href="ncs/import"
              role="button"
              class="btn btn-dark"
      >
        Atualizar Cadastros
        <i class="pi pi-download" id="icon-button"></i>
      </a>
    </div>
  </div>
</div>
<div class="p-fluid autoComplete">
  <p-autoComplete
          [(ngModel)]="nonComplicanceService.autoCompleteValue"
          [suggestions]="results"
          (completeMethod)="getFilteredList($event)"
          class="p-autocomplete"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          placeholder="Busque por nome, descrição ou código SAP"
          field="name"
          (onSelect)="checkProduct($event)"
          (input)="uncheckProduct()"
  >
    <ng-template let-product pTemplate="item">
      <div class="autoComplete-item">
        <h4>{{ product.name }}</h4>
        <span>{{ product.code }}</span>
        <p>{{ product.description }}</p>
      </div>
    </ng-template>
  </p-autoComplete>
</div>
<app-product-info></app-product-info>
