<div class="editar-campo">
    <label for="name">{{'global.contacts.name'| translate}}</label>
    <input
            type="text"
            pInputText
            id="name"
            [(ngModel)]="contact.name"
            required
            #nameCtrl="ngModel"
    />
    <small *ngIf="nameCtrl.invalid && nameCtrl.touched">
        {{'global.contacts.invalidName'| translate}}
    </small>
</div>
<div class="editar-campo">
    <label for="email">{{'global.contacts.email'| translate}}</label>
    <input
            type="email"
            pInputText
            id="email"
            [(ngModel)]="contact.email"
            email="true"
            required
            #emailCtrl="ngModel"
    />
    <small *ngIf="emailCtrl.invalid && emailCtrl.touched">
        {{'global.contacts.invalidEmail'| translate}}
    </small>
</div>
<div class="editar-campo">
    <label for="type">{{'global.contacts.partner'| translate}}</label>
    <input
            type="text"
            pInputText
            id="type"
            [(ngModel)]="contact.type"
            required
            #typeCtrl="ngModel"
    />
    <small *ngIf="typeCtrl.invalid && typeCtrl.touched">
        {{'global.contacts.invalidContactType'| translate}}
    </small>
</div>
<div class="d-flex justify-content-end editar-buttons">
    <button type="button"
            class="btn btn-outline-warning"
            (click)="cancel()">
        {{'global.cancel'| translate}}
    </button>
    <div class="ml-2 mr-2"></div>
    <button
            type="button"
            class="btn btn-dark"
            style="background-color: #00344D;"
            [disabled]="(nameCtrl.invalid) || (emailCtrl.invalid) || (typeCtrl.invalid)"
            (click)="saveContact()"
    >
        {{'global.confirm'| translate}}
        <i class="pi pi-check"></i>
    </button>
</div>