<div class="d-flex flex-lg-row flex-column justify-content-between">
    <div class="cabecalho">
        <h1 class="mr-3">Diagrama de Ishikawa</h1>
        <p>
            Descreva o problema referente aos respectivos campos de acordo com o Diagrama de Causa e Efeito - Ishikawa.
        </p>
    </div>
    <div class="d-flex justify-content-end align-items-center mb-3">
        <button class="btn btn-dark ml-3">
            Visualizar Descrição da NC
            <i class="bi bi-file-earmark-medical"></i>
        </button>
    </div>
</div>
<div class="d-flex caixa-cinza pr-2 py-4 mt-4">
    <div>
        <div class="d-flex">
            <div class="col">
                <label>Matéria Prima</label>
                <p-editor [ngModel]="'<p>'+this.propService.propSolution.lack_materials + '</p><p>' + this.propService.propSolution.excess_materials + '</p><p>' + this.propService.propSolution.low_quality_materials + '</p>' + '</p>' + this.propService.propSolution.material_description" [style]="editorStyle" [readonly]="true" (click)="openDialog(1)">
                    <ng-template pTemplate="header">
                    </ng-template>
                </p-editor>

            </div>
            <div class="col">
                <label>Medição</label>
                <p-editor [ngModel]="'<p>'+this.propService.propSolution.lack_parameters + '</p><p>' + this.propService.propSolution.excess_parameters + '</p><p>' + this.propService.propSolution.non_achievement_goals + '</p>' +  '</p>' + this.propService.propSolution.measurement_description" [style]="editorStyle" [readonly]="true" (click)="openDialog(2)">
                    <ng-template pTemplate="header">
                    </ng-template>
                </p-editor>
            </div>
            <div class="col">
                <label>Método</label>
                <p-editor [ngModel]="this.propService.propSolution.method_description" [style]="editorStyle" [readonly]="true" (click)="openDialog(3)">
                    <ng-template pTemplate="header">
                    </ng-template>
                </p-editor>
            </div>
        </div>
        <img src="../../../../../../assets/images/Espinha de Peixe.png" width="900" class="ml-5 mr-3">
        <div class="d-flex">
            <div class="col">
                
                <p-editor [ngModel]="'<p>'+this.propService.propSolution.run_training + '</p>' + this.propService.propSolution.man_power_description" [style]="editorStyle" [readonly]="true" (click)="openDialog(4)">
                    <ng-template pTemplate="header">
                    </ng-template>
                </p-editor><label class="mt-1">Mão de Obra</label>
            </div>
            <div class="col">
               
                <p-editor [ngModel]="this.propService.propSolution.environment_description" [style]="editorStyle" [readonly]="true" (click)="openDialog(5)">
                    <ng-template pTemplate="header">
                    </ng-template>
                </p-editor><label class="mt-1">Meio Ambiente</label>
            </div>
            <div class="col">
                
                <p-editor [ngModel]="this.propService.propSolution.machine_description" [style]="editorStyle" [readonly]="true" (click)="openDialog(6)">
                    <ng-template pTemplate="header">
                    </ng-template>
                </p-editor><label class="mt-1">Máquina</label>

            </div>
        </div>
    </div>
    <div class="d-block mt-5">
        <label>Efeito</label>
        <p-editor [ngModel]="this.propService.propSolution.effect_description"
                  [style]="{'height':'300px','width':'230px','border': '2px solid #333333','border-radius': '5px'}"
                  [readonly]="true"

                  (click)="openDialog(7)"
        >
            <ng-template pTemplate="header">
            </ng-template>
        </p-editor>

    </div>
</div>

<div class="mt-4">
    <app-reasons-why></app-reasons-why>
</div>