<div class="card">
    <p-table [value]="this.nonComplicanceService.nc.contacts">
        <ng-template pTemplate="header">
            <tr>
                <th>{{'global.contacts.name'| translate}}</th>
                <th>{{'global.contacts.email'| translate}}</th>
                <th>{{'global.contacts.partner'| translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contact let-i="rowIndex">
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.type }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
