<p-toast></p-toast>
<h1>Importar Clientes</h1>
<p-fileUpload (uploadHandler)="onUpload($event, 'customer')"
              [customUpload]="true"
              accept=".xlsx, .xls"
              chooseLabel="Escolher Arquivo"
              uploadLabel="Importar Arquivo Selecionado"
              [showCancelButton]="false"
              invalidFileTypeMessageDetail="Formato de arquivo inválido, selecione apenas arquivos do tipo {0}">
    <ng-template pTemplate="toolbar">
        <p-button label="Baixar Arquivo de Exemplo" styleClass="p-button-link" (onClick)="downloadFile('clientes')"></p-button>
    </ng-template>
</p-fileUpload>

<h1>Importar Fornecedores</h1>
<p-fileUpload (uploadHandler)="onUpload($event, 'provider')"
              [customUpload]="true"
              accept=".xlsx, .xls"
              chooseLabel="Escolher Arquivo"
              uploadLabel="Importar Arquivo Selecionado"
              [showCancelButton]="false"
              invalidFileTypeMessageDetail="Formato de arquivo inválido, selecione apenas arquivos do tipo {0}">

    <ng-template pTemplate="toolbar">
        <p-button label="Baixar Arquivo de Exemplo" styleClass="p-button-link" (onClick)="downloadFile('fornecedores')"></p-button>
    </ng-template>
</p-fileUpload>

<h1>Importar Produtos</h1>
<p-fileUpload (uploadHandler)="onUpload($event, 'product')"
              [customUpload]="true"
              accept=".xlsx, .xls"
              chooseLabel="Escolher Arquivo"
              uploadLabel="Importar Arquivo Selecionado"
              [showCancelButton]="false"
              invalidFileTypeMessageDetail="Formato de arquivo inválido, selecione apenas arquivos do tipo {0}">
    <ng-template pTemplate="toolbar">
        <p-button label="Baixar Arquivo de Exemplo" styleClass="p-button-link" (onClick)="downloadFile('produtos')"></p-button>
    </ng-template>
</p-fileUpload>