
<button class="btn btn-dark inicio">Inicio</button>

<h1 class="mt-4">Importar Clientes</h1>
<p-fileUpload
  (uploadHandler)="onUpload($event, 'customer')"
  [customUpload]="true"
  accept=".xlsx, .xls"
  chooseLabel="Escolher Arquivo"
  uploadLabel="Importar Arquivo Selecionado"
  [showCancelButton]="false"
  invalidFileTypeMessageDetail="Formato de arquivo inválido, selecione apenas arquivos do tipo {0}"
>
  <ng-template pTemplate="toolbar">
    <p-button
      label="Baixar Arquivo de Exemplo"
      styleClass="p-button-link"
      (onClick)="downloadFile('clientes')"
    ></p-button>
  </ng-template>
</p-fileUpload>

<h1 class="mt-3">Importar Fornecedores</h1>
<p-fileUpload
  (uploadHandler)="onUpload($event, 'provider')"
  [customUpload]="true"
  accept=".xlsx, .xls"
  chooseLabel="Escolher Arquivo"
  uploadLabel="Importar Arquivo Selecionado"
  [showCancelButton]="false"
  invalidFileTypeMessageDetail="Formato de arquivo inválido, selecione apenas arquivos do tipo {0}"
>
  <ng-template pTemplate="toolbar">
    <p-button
      label="Baixar Arquivo de Exemplo"
      styleClass="p-button-link"
      (onClick)="downloadFile('fornecedores')"
    ></p-button>
  </ng-template>
</p-fileUpload>

<h1 class="mt-3">Importar Produtos</h1>
<p-fileUpload
  (uploadHandler)="onUpload($event, 'product')"
  [customUpload]="true"
  accept=".xlsx, .xls"
  chooseLabel="Escolher Arquivo"
  uploadLabel="Importar Arquivo Selecionado"
  [showCancelButton]="false"
  invalidFileTypeMessageDetail="Formato de arquivo inválido, selecione apenas arquivos do tipo {0}"
>
  <ng-template pTemplate="toolbar">
    <p-button
      label="Baixar Arquivo de Exemplo"
      styleClass="p-button-link"
      (onClick)="downloadFile('produtos')"
    ></p-button>
  </ng-template>
</p-fileUpload>

<h1 class="mt-3">Importar Setores</h1>
<p-fileUpload
  (uploadHandler)="onUpload($event, 'sector')"
  [customUpload]="true"
  accept=".xlsx, .xls"
  chooseLabel="Escolher Arquivo"
  uploadLabel="Importar Arquivo Selecionado"
  [showCancelButton]="false"
  invalidFileTypeMessageDetail="Formato de arquivo inválido, selecione apenas arquivos do tipo {0}"
>
  <ng-template pTemplate="toolbar">
    <p-button
      label="Baixar Arquivo de Exemplo"
      styleClass="p-button-link"
      (onClick)="downloadFile('setor')"
    ></p-button>
  </ng-template>
</p-fileUpload>

<!--<h1>Importar Locais</h1>
<p-fileUpload
  (uploadHandler)="onUpload($event, 'place')"
  [customUpload]="true"
  accept=".xlsx, .xls"
  chooseLabel="Escolher Arquivo"
  uploadLabel="Importar Arquivo Selecionado"
  [showCancelButton]="false"
  invalidFileTypeMessageDetail="Formato de arquivo inválido, selecione apenas arquivos do tipo {0}"
>
  <ng-template pTemplate="toolbar">
    <p-button
      label="Baixar Arquivo de Exemplo"
      styleClass="p-button-link"
      (onClick)="downloadFile('local')"
    ></p-button>
  </ng-template>
</p-fileUpload>-->

<h1 class="mt-3">Importar Instruções</h1>
<p-fileUpload (uploadHandler)="onUpload($event, 'instructions')" [customUpload]="true" accept=".xlsx, .xls"
  chooseLabel="Escolher Arquivo" uploadLabel="Importar Arquivo Selecionado" [showCancelButton]="false"
  invalidFileTypeMessageDetail="Formato de arquivo inválido, selecione apenas arquivos do tipo {0}">
  <ng-template pTemplate="toolbar">
    <p-button label="Baixar Arquivo de Exemplo" styleClass="p-button-link" (onClick)="downloadFile('instrucao')"></p-button>
  </ng-template>
</p-fileUpload>

<h1 class="mt-3">Importar Procedimentos</h1>
<p-fileUpload (uploadHandler)="onUpload($event, 'procedures')" [customUpload]="true" accept=".xlsx, .xls"
  chooseLabel="Escolher Arquivo" uploadLabel="Importar Arquivo Selecionado" [showCancelButton]="false"
  invalidFileTypeMessageDetail="Formato de arquivo inválido, selecione apenas arquivos do tipo {0}">
  <ng-template pTemplate="toolbar">
    <p-button label="Baixar Arquivo de Exemplo" styleClass="p-button-link" (onClick)="downloadFile('procedure')">
    </p-button>
  </ng-template>
</p-fileUpload>

<h1 class="mt-3">Importar NRs - Normas Regulamentadoras</h1>
<p-fileUpload (uploadHandler)="onUpload($event, 'regulatory')" [customUpload]="true" accept=".xlsx, .xls"
              chooseLabel="Escolher Arquivo" uploadLabel="Importar Arquivo Selecionado" [showCancelButton]="false"
              invalidFileTypeMessageDetail="Formato de arquivo inválido, selecione apenas arquivos do tipo {0}">
  <ng-template pTemplate="toolbar">
    <p-button label="Baixar Arquivo de Exemplo" styleClass="p-button-link" (onClick)="downloadFile('regulatory')">
    </p-button>
  </ng-template>
</p-fileUpload>


<h1 class="mt-3">Importar ISOs - Normas NBR</h1>
<p-fileUpload (uploadHandler)="onUpload($event, 'nbr')" [customUpload]="true" accept=".xlsx, .xls"
              chooseLabel="Escolher Arquivo" uploadLabel="Importar Arquivo Selecionado" [showCancelButton]="false"
              invalidFileTypeMessageDetail="Formato de arquivo inválido, selecione apenas arquivos do tipo {0}">
  <ng-template pTemplate="toolbar">
    <p-button label="Baixar Arquivo de Exemplo" styleClass="p-button-link" (onClick)="downloadFile('nbr')">
    </p-button>
  </ng-template>
</p-fileUpload>

<h1 class="mt-3">Importar Máquinas</h1>
<p-fileUpload (uploadHandler)="onUpload($event, 'machine')" [customUpload]="true" accept=".xlsx, .xls"
              chooseLabel="Escolher Arquivo" uploadLabel="Importar Arquivo Selecionado" [showCancelButton]="false"
              invalidFileTypeMessageDetail="Formato de arquivo inválido, selecione apenas arquivos do tipo {0}">
  <ng-template pTemplate="toolbar">
    <p-button label="Baixar Arquivo de Exemplo" styleClass="p-button-link" (onClick)="downloadFile('machine')">
    </p-button>
  </ng-template>
</p-fileUpload>

<h1 class="mt-3">Importar Equipamentos</h1>
<p-fileUpload (uploadHandler)="onUpload($event, 'equipament')" [customUpload]="true" accept=".xlsx, .xls"
              chooseLabel="Escolher Arquivo" uploadLabel="Importar Arquivo Selecionado" [showCancelButton]="false"
              invalidFileTypeMessageDetail="Formato de arquivo inválido, selecione apenas arquivos do tipo {0}">
  <ng-template pTemplate="toolbar">
    <p-button label="Baixar Arquivo de Exemplo" styleClass="p-button-link" (onClick)="downloadFile('equipament')">
    </p-button>
  </ng-template>
</p-fileUpload>

