<div id="pdfContent">
 

  <div class="cabecalho-eletrosom d-flex">
    <div class="logo d-flex align-items-center col-6">
      <img src="../assets/images/logo2.png" alt="Electroson" />
    </div>
    <div
      class="endereco d-flex flex-column justify-content-center align-items-end col-6"
    >
      <span class="mb-3"
        ><i class="bi bi-geo-alt-fill"></i> Rod BR-277, 4500 CIC-Curitiba - PR
        82305-200</span
      >
      <span><i class="bi bi-telephone-fill"></i> + 55 (41) 3593-1000</span>
    </div>
  </div>
  <div class="d-flex flex-column cabecalho-info mt-4">
    <div class="titulo d-flex justify-content-center align-items-center">
      SISTEMA DE GESTÃO DE QUALIDADE
    </div>
    <div class="d-flex flex-row relatorio-dados">
      <div
        class="col-8 d-flex justify-content-center align-items-center border border-secondary"
      >
        RELATÓRIO DE NÃO CONFORMIDADE
      </div>
      <div
        class="col-4 d-flex flex-column justify-content-center align-items-center border border-secondary p-3"
      >
        <span>{{ aboutService.nc.code }}</span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-lg-row flex-column justify-content-between">
    <div class="d-flex"></div>
    <div class="d-flex justify-content-end align-items-center mb-3"></div>
  </div>
  <app-view-identify-nc></app-view-identify-nc>
  <div class="mt-3"></div>
  <app-view-products-and-points></app-view-products-and-points>

  <div class="div-ident-parceiro d-flex flex-column flex-lg-row mt-3">
    <div class="dados-parceiro razao-social item">
      <h2 class="mr-2">
        <i class="bi bi-file-earmark-text"></i>
        Descrição
      </h2>
      <p-editor
        [(ngModel)]="this.aboutService.nc.text_area_nc"
        [style]="{ height: '100px', border: '1px solid #dddddd' }"
        [readonly]="true"
      >
        <ng-template pTemplate="header"> </ng-template>
      </p-editor>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="dados-parceiro razao-social item">
      <h2 class="mr-2 mb-5">
        <i class="bi bi-paperclip"></i>
        Evidências
      </h2>
      <div class="d-flex flex-row flex-wrap">
        <span *ngFor="let item of returnFile('evidenciasNc')">
          {{ item.name }} /
        </span>
      </div>
    </div>
  </div>
  <div class="div-ident-parceiro d-flex mt-3">
    <div class="dados-parceiro razao-social item">
      <h2 class="mr-2">
        <i class="bi bi-geo"></i>
        Ações Imediatas
      </h2>
      <p-editor
        [(ngModel)]="this.aboutService.nc.text_area_acoes"
        [style]="{ height: '100px', border: '1px solid #dddddd' }"
        [readonly]="true"
      >
        <ng-template pTemplate="header" hidden> </ng-template>
      </p-editor>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="dados-parceiro razao-social item">
      <h2 class="mr-2 mb-5">
        <i class="bi bi-paperclip"></i>
        Evidências
      </h2>
      <span *ngFor="let item of returnFile('evidenciasAcoes')">
        {{ item.name }} /
      </span>
    </div>
  </div>
  <div class="quebrar-linha-contato mb-5">
    <h3><strong>Contatos</strong></h3>
    <app-view-stakeholders></app-view-stakeholders>
  </div>



  <div *ngIf="aboutService.hasProposal()">
    <div>
    <div class="d-flex justify-content-between accordion">
      <p>
        <i class="bi bi-suit-diamond"></i>
        {{ "about.proposalComponent.ishikawaDiagram" | translate }}
      </p>
    </div>
    <div class="d-flex caixa-cinza pr-2 py-4 mt-4">
      <div>
        <div class="d-flex">
          <div class="col">
            <label>{{ "about.proposalComponent.material" | translate }}</label>
            <p-editor
              [ngModel]="
                '<p>' +
                this.aboutService.nc.proposalSolution!.lack_materials +
                '</p><p>' +
                this.aboutService.nc.proposalSolution!.low_quality_materials +
                '</p><p>' +
                this.aboutService.nc.proposalSolution!.excess_materials +
                '</p>' +
                this.aboutService.nc.proposalSolution!.material_description
              "
              [style]="editorStyle"
              [readonly]="true"
            >
            </p-editor>
          </div>
          <div class="col">
            <label>{{ "about.proposalComponent.measure" | translate }}</label>
            <p-editor
              [ngModel]="
                '<p>' +
                this.aboutService.nc.proposalSolution!.lack_parameters +
                '</p><p>' +
                this.aboutService.nc.proposalSolution!.excess_parameters +
                '</p><p>' +
                this.aboutService.nc.proposalSolution!.non_achievement_goals +
                '</p><p>' +
                this.aboutService.nc.proposalSolution!.measurement_description
              "
              [style]="editorStyle"
              [readonly]="true"
            >
            </p-editor>
          </div>
          <div class="col">
            <label>{{ "about.proposalComponent.method" | translate }}</label>
            <p-editor
              [ngModel]="
                this.aboutService.nc.proposalSolution!.method_description +
                '<p>' +
                returnString(
                  this.aboutService.nc.proposalSolution!.instruction
                ) +
                '</p>' +
                '<p>' +
                returnString(this.aboutService.nc.proposalSolution!.procedure) +
                '</p>' +
                '<p>' +
                returnString(
                  this.aboutService.nc.proposalSolution!.regulatory
                ) +
                '</p>' +
                '<p>' +
                returnString(this.aboutService.nc.proposalSolution!.nbr) +
                '</p>'
              "
              [style]="editorStyle"
              [readonly]="true"
            >
            </p-editor>
          </div>
        </div>
        <img
          src="../../../../../../assets/images/Espinha de Peixe.png"
          width="850"
          class="ml-5"
        />
        <div class="d-flex">
          <div class="col">
            <p-editor
              [ngModel]="
                '<p>' +
                this.aboutService.nc.proposalSolution!.run_training +
                '</p>' +
                this.aboutService.nc.proposalSolution!.man_power_description
              "
              [style]="editorStyle"
              [readonly]="true"
            >
            </p-editor
            ><label class="mt-1">{{
              "about.proposalComponent.labor" | translate
            }}</label>
          </div>
          <div class="col">
            <p-editor
              [ngModel]="
                this.aboutService.nc.proposalSolution!.environment_description
              "
              [style]="editorStyle"
              [readonly]="true"
            >
            </p-editor
            ><label class="mt-1">{{
              "about.proposalComponent.ambient" | translate
            }}</label>
          </div>
          <div class="col">
            <p-editor
              [ngModel]="
                this.aboutService.nc.proposalSolution!.machine_description +
                '<p>' +
                returnString(this.aboutService.nc.proposalSolution!.machine) +
                '</p><p>' +
                returnString(
                  this.aboutService.nc.proposalSolution!.equipament
                ) +
                '</p>'
              "
              [style]="editorStyle"
              [readonly]="true"
            >
            </p-editor
            ><label class="mt-1">{{
              "about.proposalComponent.machine" | translate
            }}</label>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <label>{{ "about.proposalComponent.effect" | translate }}</label>
        <p-editor
          [ngModel]="this.aboutService.nc.proposalSolution!.effect_description"
          [style]="{
            height: '300px',
            width: '230px',
            border: '2px solid #333333',
            'border-radius': '5px'
          }"
          [readonly]="true"
        >
        </p-editor>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between accordion mt-5">
    <p>
      <i class="bi bi-dice-5"></i>
      {{ "about.proposalComponent.5why" | translate }}
    </p>
  </div>
  <div>
    <div class="caixa-cinza p-2 mt-3">
      <div class="d-flex justify-content-evenly flex-wrap">
        <div class="d-flex flex-column why-box">
          <label class="mb-2" for="">{{
            aboutService.nc.proposalSolution!.first_why_label
          }}</label>
          <textarea
            [(ngModel)]="aboutService.nc.proposalSolution!.first_why"
            pInputTextarea
            cols="35"
            rows="5"
            class="textarea"
          >
          </textarea>
          <div
            class="text-center form-check caixa-preta"
            *ngIf="aboutService.nc.proposalSolution!.root_cause == 'cause1'"
          >
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              onclick="return false;"
              checked
            />
            <label class="mb-2" class="form-check-label text-light">
              {{ "about.proposalComponent.rootCause" | translate }}
            </label>
          </div>
        </div>

        <div class="d-flex flex-column why-box">
          <label class="mb-2" for="">{{
            aboutService.nc.proposalSolution!.second_why
          }}</label>
          <textarea
            [(ngModel)]="aboutService.nc.proposalSolution!.second_why"
            pInputTextarea
            cols="35"
            rows="5"
            class="textarea"
          >
          </textarea>
          <div
            class="text-center form-check caixa-preta"
            *ngIf="aboutService.nc.proposalSolution!.root_cause == 'cause2'"
          >
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              onclick="return false;"
              checked
            />
            <label class="form-check-label text-light">
              {{ "about.proposalComponent.rootCause" | translate }}
            </label>
          </div>
        </div>

        <div class="d-flex flex-column why-box">
          <label class="mb-2" for="">{{
            aboutService.nc.proposalSolution!.second_why
          }}</label>
          <textarea
            [(ngModel)]="aboutService.nc.proposalSolution!.third_why"
            pInputTextarea
            cols="35"
            rows="5"
            class="textarea"
          >
          </textarea>
          <div
            class="text-center form-check caixa-preta"
            *ngIf="aboutService.nc.proposalSolution!.root_cause == 'cause3'"
          >
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              onclick="return false;"
              checked
            />
            <label class="form-check-label text-light">
              {{ "about.proposalComponent.rootCause" | translate }}
            </label>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-evenly flex-wrap">
        <div class="d-flex flex-column why-box">
          <label class="mb-2" for="">{{
            aboutService.nc.proposalSolution!.third_why
          }}</label>
          <textarea
            [(ngModel)]="aboutService.nc.proposalSolution!.quarter_why"
            pInputTextarea
            cols="55"
            rows="5"
            class="textarea"
          >
          </textarea>
          <div
            class="text-center form-check caixa-preta"
            *ngIf="aboutService.nc.proposalSolution!.root_cause == 'cause4'"
          >
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              onclick="return false;"
              checked
            />
            <label class="form-check-label text-light">
              {{ "about.proposalComponent.rootCause" | translate }}
            </label>
          </div>
        </div>

        <div class="d-flex flex-column why-box">
          <label class="mb-2" for="">{{
            aboutService.nc.proposalSolution!.quarter_why
          }}</label>
          <textarea
            [(ngModel)]="aboutService.nc.proposalSolution!.fifth_why"
            pInputTextarea
            cols="55"
            rows="5"
            class="textarea"
          >
          </textarea>
          <div
            class="text-center form-check caixa-preta"
            *ngIf="aboutService.nc.proposalSolution!.root_cause == 'cause5'"
          >
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              onclick="return false;"
              checked
            />
            <label class="form-check-label text-light">
              {{ "about.proposalComponent.rootCause" | translate }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between accordion mt-5">
    <p>
      <i class="bi bi-geo"></i>
      {{ "about.proposalComponent.rootCause" | translate }}
    </p>
  </div>
  <div class="card">
    <p-table [value]="aboutService.nc.proposalSolution!.actionPlans">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "global.description" | translate }}</th>
          <th>{{ "global.responsible" | translate }}</th>
          <th>{{ "global.deadline" | translate }}</th>
          <th>{{ "global.status" | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-action>
        <tr>
          <td>{{ action.description }}</td>
          <td>{{ action.responsible.name }}</td>
          <td>{{ dataParse(action.term) }}</td>
          <td>{{ action.status }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <h2 class="mr-4 text-black mt-4 fs-5">
    <i class="pi pi-copy"></i>
    {{ "about.costsComponent.documents.title" | translate }}
  </h2>
  <div class="card mt-3">
    <p-table [value]="this.aboutService.nc?.costs || []">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "about.costsComponent.documents.document" | translate }}</th>
          <th>{{ "about.costsComponent.documents.date" | translate }}</th>
          <th>{{ "about.costsComponent.documents.attachedBy" | translate }}</th>
          <th>{{ "about.costsComponent.documents.total" | translate }}</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-doc>
        <tr>
          <td>{{ doc.file_name }}</td>
          <td>{{ parseDate(doc.created_at) }}</td>
          <td>{{ doc.author?.username }}</td>
          <td>{{ format(doc.value) }}</td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </div>

   <div class="quebrar-linha mb-4" *ngIf="aboutService.hasSgqEval()">
    <h2>Reincidência</h2>
    <div class="card">
      <p-table [value]="aboutService.nc.sgqEvaluation.recurrence || []">
        <ng-template pTemplate="header">
          <tr>
            <th>{{ "global.number" | translate }}</th>
            <th>{{ "newNC.review.issuer" | translate }}</th>
            <th>{{ "about.sgqEvalComponent.recurrence.type" | translate }}</th>
            <th>
              {{ "about.sgqEvalComponent.recurrence.sector" | translate }}
            </th>
            <th>
              {{ "about.sgqEvalComponent.recurrence.product" | translate }}
            </th>
            <th>{{ "global.status" | translate }}</th>
            <th>{{ "about.sgqEvalComponent.deadline" | translate }}</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-nc let-i="rowIndex">
          <tr></tr>
          <tr>
            <td>{{ nc.code }}</td>
            <td>{{ nc.emissor?.username }}</td>
            <td>{{ nc.tipos_nc_item }}</td>
            <td>{{ nc.tipos_local_item }}</td>
            <td>{{ nc.product?.name || nc.product?.description }}</td>

            <td>
              <span [ngSwitch]="nc.status">
                <span *ngSwitchCase="'open'">
                  {{ "global.status1" | translate }}</span
                >
                <span *ngSwitchCase="'running'">{{
                  "global.status2" | translate
                }}</span>
                <span *ngSwitchCase="'late'">
                  {{ "global.status3" | translate }}</span
                >
                <span *ngSwitchCase="'deleted'">
                  {{ "global.status4" | translate }}</span
                >
                <span *ngSwitchCase="'archived'">
                  {{ "global.status5" | translate }}</span
                >
                <span *ngSwitchCase="'canceled'">
                  {{ "global.status6" | translate }}</span
                >
                <span *ngSwitchCase="'closed'">
                  {{ "global.status7" | translate }}</span
                >
              </span>
            </td>
            <td>{{ parseDate(nc.data_fechamento || "") || "00/00/0000" }}</td>
            <td>
              <button
                pButton
                type="button"
                icon="bi bi-info-circle"
                class="p-button-secondary p-button-text"
                (click)="details(nc)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="mt-4">
      <h2>Relato e evidências da solução do problema</h2>
      <p-editor
        [ngModel]="aboutService.nc.sgqEvaluation.text_area1"
        [style]="editorStyle"
        [readonly]="true"
      >
        <ng-template pTemplate="header"> </ng-template>
      </p-editor>
    </div>
    <div class="mt-4">
      <h3><strong>Anexos</strong></h3>
      <div class="d-flex flex-wrap">
        <div *ngFor="let item of aboutService.nc.sgqEvaluation.attachments">
          {{ item.name + " / " }}
        </div>
      </div>
    </div>
    <div class="mt-4">
      <h2>Riscos de oportunidades</h2>
      <p-editor
        [ngModel]="aboutService.nc.sgqEvaluation.text_area2"
        [style]="editorStyle"
        [readonly]="true"
      >
        <ng-template pTemplate="header"> </ng-template>
      </p-editor>
    </div>

    <div class="mt-4">
      <h2>Mudanças</h2>
      <p-editor
        [ngModel]="aboutService.nc.sgqEvaluation.text_area3"
        [style]="editorStyle"
        [readonly]="true"
      >
        <ng-template pTemplate="header"> </ng-template>
      </p-editor>
    </div>
  </div>

  <div class="d-flex flex-row align-items-center fotter">
    <div class="d-flex flex-column justify-content-center p-2">
      <span>Sempre conectados</span>
      <span>www.ELECTROSONteleco.com.br</span>
    </div>
    <i class="bi bi-youtube"></i>
    <i class="bi bi-linkedin"></i>
    <i class="bi bi-twitter"></i>
  </div>
</div>
