



<div style="margin-right: 10px;">
<div class="moldura-um">
    <div class="moldura-dois">
        <div class="conteudo">

            <div style="width:300px; margin-bottom: 50px;">
                <label>Setor</label>
                <select class="form-select" aria-label="Default select example" #mySelect
                (change)='onOptionsSelected(mySelect.value)'>
                    <option value="0" selected>Todos os setores</option>
                    <option value="1">LABORATÓRIO</option>
                    <option value="2">PCP</option>
                    <option value="3">COMPRAS</option>
                    <option value="4">SEGURANÇA DO TRABALHO</option>
                    <option value="5">COMERCIAL</option>
                    <option value="6">SGQ</option>
                    
                  </select>
            </div>
            <div style="width: 1300px; height: 500px;">
                <ngx-charts-bar-vertical
                [scheme]="color"
                [results]="barDataTest"
                [gradient]="gradient"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [legend]="legend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                >
                </ngx-charts-bar-vertical>
            </div>
        </div>
    </div>
</div>
</div>