<div class="mb-3">
  <div class="cabecalho">
    <h1>{{'newNC.step1.rejectionPoint.title'| translate}} *</h1>
    <p>{{'newNC.step1.rejectionPoint.subtitle'| translate}}</p>
  </div>
  <p-editor
    [style]="{ height: '210px' }"
    [(ngModel)]="nonComplianceService.nc.text_area_reject_point"
    [modules]="{counter: {container: '#counterR',unit: 'character'}}"
    [readonly]="!nonComplianceService.nc.partner"
  ></p-editor>
  <div id="counterR" class="text-end">0</div>
</div>

<div *ngIf="returnOpScreen() || returnPrScreen()">
  <div class="row">
    <div class="col">
      <div class="p-fluid autoComplete">
        <label class="">{{'newNC.step1.rejectionPoint.itTitle'| translate}}</label>
        <p-autoComplete
          class="p-autocomplete"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          [suggestions]="resultsIt"
          (ngModelChange)="onChange()"
          (completeMethod)="searchIt($event)"
          (onSelect)="onSelectedIt()"
          field="name"
          [(ngModel)]="nonComplianceService.autoCompleteItValue"
          [placeholder]="'newNC.step1.rejectionPoint.searchPlaceholder'| translate"
        >
          <ng-template let-brand pTemplate="item">
            <div>
              <div class="d-flex">
                <div class="mr-2">
                  <span class="auto-complete-label">{{'newNC.step1.partner.codeUpper'| translate}}</span><br />
                  <span class="auto-complete-item">{{ brand.code }}</span>
                </div>
                <div class="mr-2">
                  <span class="auto-complete-label">{{'newNC.step1.rejectionPoint.descriptionUpper'| translate}}</span><br />
                  <span class="auto-complete-item">{{
                    brand.description
                  }}</span>
                </div>
                <div class="mr-2">
                  <span class="auto-complete-label">{{'newNC.step1.rejectionPoint.revisionUpper'| translate}}</span><br />
                  <span class="auto-complete-item">{{ brand.rev }}</span>
                </div>
              </div>
            </div></ng-template>
        </p-autoComplete>
      </div>
    </div>
    <!--<div class="col-4 att-button">
      <div>
        <p><i class="pi pi-history"></i> ultima atualização:</p>
        <button
          href="http://localhost:4200/ncs/import"
          role="button"
          class="btn btn-dark"
          
        >
          Atualizar ITs
          <i class="pi pi-download" id="icon-button"></i>
        </button>
      </div>
    </div>
  </div>-->

  <!--<div *ngIf="false" class="d-flex justify-content-center mt-3">
    <button
      class="btn btn-dark"
      (click)="visualizarIt()"
    >
      {{'newNC.step1.rejectionPoint.viewDocument'| translate}}
    </button>
  </div>-->
</div>

<div
  class="d-flex flex-wrap justify-content-between row-inputs"
  *ngIf="returnNfScreen()"
>
  <div class="d-flex flex-column inputs-sm my-auto">
    <label for="amountTotal">{{'newNC.step1.rejectionPoint.numBatch'| translate}}</label>
    <input
      [(ngModel)]="nonComplianceService.nc.num_lote"
      name="amountTotal"
      type="text"
      pInputText
      [placeholder]="'global.type'| translate"
      class="p-input text-sm input"
    />
  </div>
  <div class="d-flex flex-column inputs-sm my-auto">
    <label for="amountTotal">{{'newNC.step1.rejectionPoint.numOC'| translate}}</label>
    <input
      [(ngModel)]="nonComplianceService.nc.num_ordem_compra"
      name="amountTotal"
      type="text"
      pInputText
      [placeholder]="'global.type'| translate"
      class="p-input text-sm input"
    />
  </div>
</div>
</div>