<div class="mb-3">
  <div class="cabecalho">
    <h1>Ponto de Rejeição *</h1>
    <p>Descreva o problema e porque esta NC esta sendo aberta.</p>
  </div>
  <p-editor
    [style]="{ height: '210px' }"
    [(ngModel)]="nonComplianceService.nc.text_area_reject_point"
    [modules]="{counter: {container: '#counterR',unit: 'character'}}"
  ></p-editor>
  <div id="counterR" class="text-end">0</div>
</div>

<div *ngIf="returnOpScreen()">
  <div class="row">
    <div class="col">
      <div class="p-fluid autoComplete">
        <label class="">Instrução de Trabalho *</label>
        <p-autoComplete
          class="p-autocomplete"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          [suggestions]="resultsIt"
          (ngModelChange)="onChange()"
          (completeMethod)="searchIt($event)"
          (onSelect)="onSelectedIt()"
          field="descriptionAux"
          [(ngModel)]="nonComplianceService.autoCompleteItValue"
          placeholder="Busque por nome, número ou descrição"
        >
          <ng-template let-brand pTemplate="item">
            <div>
              <div class="d-flex">
                <div class="mr-2">
                  <span class="auto-complete-label">CÓDIGO</span><br />
                  <span class="auto-complete-item">{{ brand.code }}</span>
                </div>
                <div class="mr-2">
                  <span class="auto-complete-label">DESCRIÇÃO</span><br />
                  <span class="auto-complete-item">{{
                    brand.description
                  }}</span>
                </div>
                <div class="mr-2">
                  <span class="auto-complete-label">REVISÃO</span><br />
                  <span class="auto-complete-item">{{ brand.rev }}</span>
                </div>
              </div>
            </div></ng-template>
        </p-autoComplete>
      </div>
    </div>
    <!--<div class="col-4 att-button">
      <div>
        <p><i class="pi pi-history"></i> ultima atualização:</p>
        <button
          href="http://localhost:4200/ncs/import"
          role="button"
          class="btn btn-dark"
          
        >
          Atualizar ITs
          <i class="pi pi-download" id="icon-button"></i>
        </button>
      </div>
    </div>
  </div>-->

  <div *ngIf="false" class="d-flex justify-content-center mt-3">
    <button
      class="btn btn-dark"
      (click)="visualizarIt()"
    >
      Visualizar Documento
    </button>
  </div>
</div>

<div
  class="d-flex flex-wrap justify-content-between row-inputs"
  *ngIf="returnNfScreen()"
>
  <div class="d-flex flex-column inputs-sm my-auto">
    <label for="amountTotal">Número do Lote</label>
    <input
      [(ngModel)]="nonComplianceService.nc.num_lote"
      name="amountTotal"
      type="text"
      pInputText
      placeholder="Digite"
      class="p-inputtext-sm input"
    />
  </div>
  <div class="d-flex flex-column inputs-sm my-auto">
    <label for="amountTotal">Número da Ordem de Compra</label>
    <input
      [(ngModel)]="nonComplianceService.nc.num_ordem_compra"
      name="amountTotal"
      type="text"
      pInputText
      placeholder="Digite"
      class="p-inputtext-sm input"
    />
  </div>
</div>

<div *ngIf="returnPrScreen()">
  <div class="row">
    <div class="col-8">
      <div class="p-fluid autoComplete">
        <label class="">Selecionar PR</label>
        <p-autoComplete
          [(ngModel)]="nonComplianceService.autoCompletePrValue"
          class="p-autocomplete"
          [suggestions]="resultsPr"
          (onSelect)="onSelectedPr()"
          (ngModelChange)="onChange()"
          (completeMethod)="searchPr($event)"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          field="description"
          placeholder="Busque por nome, número ou descrição"
        >
          <ng-template let-brand pTemplate="item">
            <div>
              <div class="d-flex justify-content-between">
                <div>
                  <span class="auto-complete-label">CÓDIGO</span><br />
                  <span class="auto-complete-item">{{ brand.code }}</span>
                </div>
                <div>
                  <span class="auto-complete-label">DESCRIÇÃO</span><br />
                  <span class="auto-complete-item">{{
                    brand.description
                  }}</span>
                </div>
                <div>
                  <span class="auto-complete-label">REVISÃO</span><br />
                  <span class="auto-complete-item">{{ brand.rev }}</span>
                </div>
              </div>
            </div></ng-template
          >
        </p-autoComplete>
      </div>
    </div>
    <div class="col att-button">
      <div>
        <p><i class="pi pi-history"></i> ultima atualização:</p>
        <button
          href="http://localhost:4200/ncs/import"
          role="button"
          class="btn btn-dark"
          
        >
          Atualizar PRs
          <i class="pi pi-download" id="icon-button"></i>
        </button>
      </div>
    </div>
  </div>
</div>
