<p-toast key="myKey1"></p-toast>
<p-dialog [(visible)]="display">
  <ng-template pTemplate="header">
    <div class="cabecalho">
      <h1>Editar Contato do Parceiro</h1>
      <p>Preecha os campos abaixo.</p>
    </div>
  </ng-template>

  <div class="editar-campo">
    <label for="">Nome</label>
    <input type="text" [(ngModel)]="editarNomeItem" />
  </div>
  <div class="editar-campo">
    <label for="">Telefone</label>
    <input type="text" [(ngModel)]="editarTelefoneItem" />
  </div>
  <div class="editar-campo">
    <label for="">E-mail</label>
    <input type="text" [(ngModel)]="editarEmailItem" />
  </div>
  <div class="d-flex justify-content-end editar-buttons">
    <button type="button" class="btn btn-outline-dark" (click)="hideDialog()">
      Cancelar
    </button>
    <div class="ml-2 mr-2"></div>
    <button type="button" class="btn btn-dark" (click)="editar()">
      Confirmar <i class="pi pi-check"></i>
    </button>
  </div>
</p-dialog>

<div class="row">
  <div class="col">
    <div class="cabecalho">
      <h1>Parceiro</h1>
      <p>
        Preencha os campos abaixo para identificar um parceiro e confirme os
        dados abaixo. Caso não encontre um parceiro, atualize a base de
        cadastros.
      </p>
    </div>
  </div>

  <div class="col-2" id="div-att-col2">
    <p>
      <i class="pi pi-history"> </i>Última atualização: {{ returnUpdateTime() }}
    </p>
    <a
      href="http://localhost:4200/ncs/import"
      role="button"
      class="btn btn-dark"
    >
      Atualizar Cadastros
      <i class="pi pi-download" id="icon-button"></i>
    </a>
  </div>
</div>

<div class="row row-search">
  <div class="dropdown col">
    <label>Tipo de Parceiro</label>
    <select
      [(ngModel)]="nonComplicanceService.nc.tiposParceiroItem"
      (change)="onChange()"
    >
      <option value="" disabled selected hidden>Selecione...</option>
      <option *ngFor="let tiposAuditoria of tiposParceiro">
        {{ tiposAuditoria }}
      </option>
    </select>
  </div>

  <div class="col-search col">
    <div class="d-flex justify-content-start" style="width: 100%">
      <p-autoComplete
        [(ngModel)]="nonComplicanceService.pesquisar"
        [suggestions]="results"
        (completeMethod)="search($event)"
        (onSelect)="onSelected()"
        (ngModelChange)="onChangeAutoComplete()"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        class="p-autocomplete"
        placeholder="Busque por código SAP ou razão social..."
        field="name"
      >
        <ng-template let-brand pTemplate="item">
          <div>
            <span class="auto-complete-title">{{ brand.corporate_name }}</span>
            <div class="d-flex justify-content-between">
              <div>
                <span class="auto-complete-label">CÓDIGO</span><br />
                <span class="auto-complete-item">{{ brand.code }}</span>
              </div>
              <div>
                <span class="auto-complete-label">NOME DO CONTATO</span><br />
                <span class="auto-complete-item">{{
                  brand.responsible_name
                }}</span>
              </div>
              <div>
                <span class="auto-complete-label">E-MAIL</span><br />
                <span class="auto-complete-item">{{
                  brand.responsible_email
                }}</span>
              </div>
              <div>
                <span class="auto-complete-label">TELEFONE</span><br />
                <span class="auto-complete-item">{{
                  brand.responsible_phone
                }}</span>
              </div>
            </div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>
</div>

<div *ngIf="!nonComplicanceService.isSelected">
  <app-waiting-product></app-waiting-product>
</div>

<div class="div-ident-parceiro row" *ngIf="nonComplicanceService.isSelected">
  <h1 class="titulo-parceiro">Dados do Parceiro</h1>
  <div class="dados-parceiro col razao-social">
    <h1 *ngIf="!isInterno()">Razão Social</h1>
    <h1 *ngIf="isInterno()">Setor</h1>
    <p>
      {{ nonComplicanceService.nc.partner.corporate_name }}
    </p>
    <p>
      {{ nonComplicanceService.nc.partner.name }}
    </p>
  </div>
  <div class="dados-parceiro col">
    <div class="dados-contato">
      <div class="d-flex justify-content-between">
        <h1>Dados do Contato</h1>
        <button
          type="button"
          class="btn btn-dark"
          iconPos="left"
          (click)="showDialog()"
        >
          <i class="pi pi-pencil"></i>Editar Contato
        </button>
      </div>
      <div class="contato-info d-flex flex-row">
        <i class="pi pi-user"></i>
        <div>
          <span class="info-titulo">Nome</span>
          <br />
          <span class="info-dados">{{
            nonComplicanceService.nc.partner.responsible_name
          }}</span>
        </div>
      </div>
      <div class="contato-info d-flex flex-row">
        <i class="pi pi-phone"></i>
        <div>
          <span class="info-titulo">Telefone</span>
          <br />
          <span class="info-dados">{{
            nonComplicanceService.nc.partner.responsible_phone
          }}</span>
        </div>
      </div>
      <div class="contato-info d-flex flex-row">
        <i class="pi pi-at"></i>
        <div>
          <span class="info-titulo">E-mail</span>
          <br />
          <span class="info-dados">{{
            nonComplicanceService.nc.partner.responsible_email
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pt-3 pb-3">
  <p-divider></p-divider>
</div>
