* {
  margin: 0;
  box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.cabecalho h1 {
  font-size: 27px;
  margin-bottom: 0px;
  margin-top: 0px;
}

label {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 2px;
}

.cabecalho p {
  font-size: 15px;
  color: gray;
}

.p-button-secondary {
  background-color: rgb(51, 51, 51);
  background: rgb(51, 51, 51);
}

.dropdown p {
  font-size: 14px;
}

.dropdown select {
  background-color: white;
  border-radius: 5px;
  border: 2px solid rgb(51, 51, 51);
  padding: 7px;

  width: 100%;
  font-size: 14px;
}

.div-att button {
  width: 200px;
  font-size: 12px;
}

.div-att p {
  font-size: 11px;
  color: gray;
  width: 120px;
}

.div-att i {
  color: gray;
  padding: 0%;

  width: 1%;
}
.p-inputtext {
  border: 2px solid rgb(51, 51, 51);
  border-color: black !important;
  box-shadow: 0 0 0 0.02rem green !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#div-att-col2 p {
  font-size: 11px;
  color: gray;
  margin: 0;
}
#div-att-col2 i {
  margin-left: 3px;
}

#div-att-col2 button {
  width: 100%;
  font-size: 14px;
  padding-top: 7px;
}

#search-input {
  outline: none;
  border: 2px solid rgb(51, 51, 51);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  padding: 7px;
}

.col-search {
  display: flex;
  align-items: flex-end;
}

.div-ident-parceiro {
  margin-top: 12px;

  width: 100%;
  border: 1px solid rgb(51, 51, 51);
  text-align: center;
  border-radius: 7px;
  background-color: rgb(243, 243, 243);
}

.div-ident-parceiro h1 {
  font-size: 22px;
  margin-top: 8px;
}

.div-ident-parceiro div {
  margin: 10px;
  background-color: white;
  border-radius: 7px;
  height: 300px;
}
