<div class="d-flex flex-lg-row flex-column justify-content-between">
  <div class="d-flex">
    <div class="cabecalho">
      <div class="d-flex align-items-center">
        <h1 class="mr-3">Não Conformidade</h1>
        <p-chip>
          <i class="bi bi-ticket-perforated mr-2"></i>
          {{ this.nonComplicanceService.nc?.code || "XXXX.XX" }}
        </p-chip>
      </div>
      <p>
        Revise ou altere os dados da NC. Se tudo estiver OK, confirme a criação
        desta NC
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-end align-items-center mb-3">
    <button
      [class]="isAllOpen ? selectedClass : unselectedClass"
      class="mr-2 btn-sm"
      (click)="isAllOpen = true"
    >
      <i class="bi bi-arrows-expand"></i>
      Expandir Todos
    </button>
    <button
      [class]="isAllOpen ? unselectedClass : selectedClass"
      (click)="isAllOpen = false"
      class="btn-sm"
    >
      <i class="bi bi-arrows-collapse"></i>
      Colapsar Todos
    </button>
  </div>
</div>
<p-accordion [multiple]="true">
  <p-accordionTab [selected]="isAllOpen">
    <ng-template pTemplate="header">
      <div class="d-flex justify-content-between accordion">
        <p>
          <i class="bi bi-file-earmark-text"></i>
          Identificação da NC
        </p>
        <button class="btn btn-dark red" (click)="goToStepById(0)">
          <i class="bi bi-pencil mr-1"></i>
          Alterar
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <app-identify-nc></app-identify-nc>
    </ng-template>
  </p-accordionTab>
  <p-accordionTab [selected]="isAllOpen">
    <ng-template pTemplate="header">
      <div class="d-flex justify-content-between accordion">
        <p>
          <i class="bi bi-box-seam"></i>
          Produtos e Pontos
        </p>
        <button class="btn btn-dark red" (click)="goToStepById(1)">
          <i class="bi bi-pencil mr-1"></i>
          Alterar
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <app-products-and-points></app-products-and-points>
    </ng-template>
  </p-accordionTab>
  <p-accordionTab [selected]="isAllOpen">
    <ng-template pTemplate="header">
      <div class="d-flex justify-content-between accordion">
        <p>
          <i class="bi bi-file-earmark-text"></i>
          Identificação da NC
        </p>
        <button class="btn btn-dark red" (click)="goToStepById(2)">
          <i class="bi bi-pencil mr-1"></i>
          Alterar
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <app-stakeholders></app-stakeholders>
    </ng-template>
  </p-accordionTab>
</p-accordion>
