<div class="d-flex flex-lg-row flex-column justify-content-between mt-4 sticky-top bg-white">
    <div class="d-flex">
        <div class="cabecalho">
            <div class="d-flex align-items-center">
                <h1 class="mr-3">{{ "about.ncView.title" | translate }}</h1>
            </div>
            <p>{{ "about.ncView.subtitle" | translate }}</p>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center mb-3">
        <button
                [class]="isAllOpen ? selectedClass : unselectedClass"
                class="mr-2 btn-sm"
                (click)="isAllOpen = true"
        >
            <i class="bi bi-arrows-expand"></i>
            {{ "global.expand" | translate }}
        </button>
        <button
                [class]="isAllOpen ? unselectedClass : selectedClass"
                (click)="isAllOpen = false"
                class="btn-sm"
        >
            <i class="bi bi-arrows-collapse"></i>
            {{ "global.colapse" | translate }}
        </button>
        <button
                pButton
                class="p-button-danger p-button-text ml-2"
                (click)="this.ref.close()"
        >
            <i class="pi pi-times"></i>
        </button>
    </div>
</div>
<p-accordion [multiple]="true">
    <p-accordionTab [selected]="isAllOpen">
        <ng-template pTemplate="header">
            <div class="d-flex justify-content-between accordion">
                <p>
                    <i class="bi bi-file-earmark-text"></i>
                    {{ "global.ncData" | translate }}
                </p>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="div-ident-parceiro d-flex mt-3 flex-column flex-lg-row">
                <div class="div-ident-parceiro">
                    <h2>
                        <i class="bi bi-card-text"></i>
                        {{ "newNC.review.identification" | translate }}
                    </h2>
                    <div class="d-flex justify-content-between flex-column flex-lg-row">
                        <div class="contato-info d-flex flex-row">
                            <i class="bi bi-ticket-perforated mr-1"></i>
                            <div>
                <span class="info-titulo">{{
                    "global.number" | translate
                    }}</span>
                                <br/>
                                <span class="info-dados">{{ this.nc?.code || "" }}</span>
                            </div>
                        </div>
                        <div class="contato-info d-flex flex-row">
                            <i class="bi bi-calendar-week mr-1"></i>
                            <div>
                <span class="info-titulo">{{
                    "newNC.step1.identifyNC.dateOpen" | translate
                    }}</span>
                                <br/>
                                <span class="info-dados">
                  {{ formato_brasileiro(this.nc?.data_abertura) }}
                </span>
                            </div>
                        </div>
                        <div class="contato-info d-flex flex-row">
                            <i class="bi bi-calendar-week mr-1"></i>
                            <div>
                <span class="info-titulo">{{
                    "newNC.step1.identifyNC.dateClose" | translate
                    }}</span>
                                <br/>
                                <span class="info-dados">
                  {{ formato_brasileiro(this.nc?.data_fechamento) }}
                </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-2 justify-content-between flex-column flex-lg-row">
                        <div class="contato-info-ident d-flex flex-row">
                            <i class="bi bi-file-text mr-1"></i>
                            <div>
            <span class="info-titulo">{{
                "newNC.step1.identifyNC.typeLabel" | translate
                }}</span>
                                <br/>
                                <span class="info-dados">{{
                                    nc.tipos_nc_item
                                    }}</span>
                            </div>
                        </div>
                        <div class="contato-info-ident  d-flex flex-row">
                            <i class="bi bi-people mr-1"></i>
                            <div>
            <span class="info-titulo">{{
                "newNC.step1.identifyNC.sectorLabel" | translate
                }}</span>
                                <br/>
                                <span class="info-dados">{{
                                    nc.tipos_local_item
                                    }}</span>
                            </div>
                        </div>
                        <div class="contato-info-ident  d-flex flex-row" *ngIf="haveSegment()">
                            <i class="bi bi-file-bar-graph mr-1"></i>
                            <div>
            <span class="info-titulo">{{
                "newNC.step1.identifyNC.segment" | translate
                }}</span>
                                <br/>
                                <span class="info-dados">{{
                                    nc.tipos_auditoria_item
                                    }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <p-divider class="test1" layout="vertical"></p-divider>
                <div class="div-ident-parceiro">
                    <h2>
                        <i class="bi bi-people mr-1"></i>
                        {{ "newNC.review.emission" | translate }}
                    </h2>
                    <div class="d-flex justify-content-between flex-column flex-lg-row">
                        <div class="contato-info d-flex flex-row">
                            <i class="bi bi-person-circle mr-1"></i>
                            <div>
                <span class="info-titulo">{{
                    "newNC.review.issuer" | translate
                    }}</span>
                                <br/>
                                <span class="info-dados">{{
                                    this.nc?.emissor?.username || "não preenchido"
                                    }}</span>
                            </div>
                        </div>
                        <div class="contato-info d-flex flex-row">
                            <i class="bi bi-person-circle mr-1"></i>
                            <div>
                <span class="info-titulo">{{
                    "newNC.review.responsible" | translate
                    }}</span>
                                <br/>
                                <span class="info-dados">{{
                                    this.nc?.emissor?.sector?.responsible_name || "não preenchido"
                                    }}</span>
                            </div>
                        </div>
                        <div class="contato-info d-flex flex-row">
                            <i class="bi bi-geo-alt mr-1"></i>
                            <div>
                <span class="info-titulo">{{
                    "newNC.review.department" | translate
                    }}</span>
                                <br/>
                                <p class="info-dados">
                                    {{ this.nc?.emissor?.sector?.name || "não preenchido" }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-ident-parceiro my-3">
                <h1 class="titulo-parceiro">
                    {{ "newNC.step1.partner.title" | translate }}
                </h1>
                <div class="d-flex">
                    <div class="item">
                        <div class="dados-parceiro razao-social">
                            <div class="d-flex">
                                <h2 class="mr-2">{{ returnTitle() }}</h2>
                                <p-chip>
                                    <i class="bi bi-ticket-perforated mr-2"></i>
                                    {{
                                    this.nc?.customer?.code ||
                                    this.nc?.provider?.code ||
                                    "00000000"
                                    }}
                                </p-chip>
                            </div>
                            <p>
                                {{
                                this.nc?.customer?.corporate_name ||
                                this.nc?.provider?.corporate_name ||
                                this.nc?.sector?.name ||
                                "global.empty" | translate
                                }}
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dados-parceiro razao-social">
                            <h2>
                                {{ "newNC.step1.partner.contactTitle" | translate }}
                            </h2>
                            <div></div>
                            <div class="contato-info d-flex flex-row">
                                <i class="pi pi-user"></i>
                                <div>
                  <span class="info-titulo">{{
                      "global.contacts.name" | translate
                      }}</span>
                                    <br/>
                                    <span class="info-dados">
                    {{
                                        this.nc?.customer?.responsible_name ||
                                        this.nc?.provider?.responsible_name ||
                                        this.nc?.sector?.responsible_name ||
                                        "global.empty" | translate
                                        }}
                  </span>
                                </div>
                            </div>
                            <div class="contato-info d-flex flex-row">
                                <i class="pi pi-phone"></i>
                                <div>
                  <span class="info-titulo">{{
                      "newNC.step1.partner.phone" | translate
                      }}</span>
                                    <br/>
                                    <span class="info-dados">
                    {{
                                        this.nc?.customer?.responsible_phone ||
                                        this.nc?.provider?.responsible_phone ||
                                        this.nc?.sector?.responsible_phone ||
                                        "(00) 00000-0000"
                                        }}
                  </span>
                                </div>
                            </div>
                            <div class="contato-info d-flex flex-row">
                                <i class="pi pi-at"></i>
                                <div>
                  <span class="info-titulo">{{
                      "global.contacts.email" | translate
                      }}</span>
                                    <br/>
                                    <span class="info-dados">
                    {{
                                        this.nc?.customer?.responsible_email ||
                                        this.nc?.provider?.responsible_email ||
                                        this.nc?.sector?.responsible_email ||
                                        "global.empty" | translate
                                        }}
                  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-ident-parceiro row">
                <h1 class="titulo-parceiro">
                    {{ "newNC.step1.product.title" | translate }}
                </h1>
                <div class="dados-produto col razao-social">
                    <div class="d-flex">
                        <h2 class="mr-2">
                            {{ nc?.product?.description }}
                        </h2>
                        <p-chip>
                            <i class="bi bi-ticket-perforated mr-2"></i>
                            {{ nc?.product?.code || "" }}
                        </p-chip>
                    </div>
                    <p class="d-block">
                        {{ nc?.product?.name }}
                    </p>
                </div>
                <div class="dados-produto col">
                    <div class="d-flex flex-row justify-content-around">
                        <div class="contato-info d-flex flex-row">
                            <i class="bi bi-calculator"></i>
                            <div>
                <span class="info-titulo">{{
                    "newNC.step1.product.amount" | translate
                    }}</span>
                                <br/>
                                <span class="info-dados">{{ nc?.quant_total || "" }}</span>
                            </div>
                        </div>
                        <div class="contato-info d-flex flex-row">
                            <i class="bi bi-calculator"></i>
                            <div>
                <span class="info-titulo">{{
                    "newNC.step1.product.amountNC" | translate
                    }}</span>
                                <br/>
                                <span class="info-dados">{{ nc?.quant_nc || "" }}</span>
                            </div>
                        </div>
                        <div class="contato-info d-flex flex-row">
                            <i class="bi bi-percent"></i>
                            <div>
                <span class="info-titulo">{{
                    "newNC.step1.product.percent" | translate
                    }}</span>
                                <br/>
                                <span class="info-dados">{{ getPercent() || "" }}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-ident-parceiro mt-3">
                <h2>
                    <i class="bi bi-people"></i>
                    {{ "newNC.review.checkpoint" | translate }}
                </h2>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row">
                        <i class="pi pi-directions mr-1"></i>
                        <div class="d-flex">
              <span class="info-titulo">{{
                  nc?.tipo_controle || "global.empty" | translate
                  }}</span>
                            <div
                                    class="d-flex flex-row ml-5"
                                    *ngIf="nc?.tipo_controle != 'PR'"
                            >
                                <i class="bi bi-calculator"></i>
                                <span class="info-titulo">{{
                                    ("global.number" | translate) + ": " + returnNumber()
                                    }}</span>
                            </div>
                            <div class="d-flex flex-row mt-2">
                                <span class="info-dados">{{ nc?.procedure?.code || "" }}</span>

                                <span class="info-dados ml-3">{{
                                    nc?.procedure?.description || ""
                                    }}</span>

                                <span class="info-dados ml-3">{{
                                    nc?.procedure?.rev || ""
                                    }}</span>
                            </div>
                        </div>
                    </div>
                    <div
                            class="dados-parceiro razao-social item mt-3"
                            *ngIf="returnFile('pontoControle').length > 0"
                    >
                        <h2 class="mr-2 mb-3">
                            <i class="bi bi-paperclip"></i>
                            {{ "global.fileInput.attachments" | translate }}
                        </h2>
                        <div>
                            <p-carousel
                                    [value]="returnFile('pontoControle')"
                                    [numVisible]="3"
                                    [numScroll]="3"
                                    [showIndicators]="false"
                            >
                                <ng-template let-file pTemplate="item">
                                    <i class="bi bi-file-earmark fs-1"></i>
                                    <p>{{ file.name }}</p>
                                </ng-template>
                            </p-carousel>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-ident-parceiro pr-4 mt-3">
                <h2>
                    <i class="bi bi-people"></i>
                    {{ "newNC.step1.rejectionPoint.title" | translate }}
                </h2>
                <div class="d-flex dados-contato mb-3">
                    <div
                            class="contato-info d-flex flex-row mb-5 mr-5"
                            *ngIf="nc?.num_lote"
                    >
                        <i class="bi bi-file-earmark-text"></i>
                        <div>
              <span class="info-titulo">{{
                  "newNC.step1.rejectionPoint.numBatch" | translate
                  }}</span>
                            <br/>
                            <span class="info-dados">{{ nc?.num_lote || "" }}</span>
                        </div>
                    </div>
                    <div
                            class="contato-info d-flex flex-row mb-5 mr-5"
                            *ngIf="nc?.num_ordem_compra"
                    >
                        <i class="bi bi-file-earmark-text"></i>
                        <div>
              <span class="info-titulo">{{
                  "newNC.step1.rejectionPoint.numOC" | translate
                  }}</span>
                            <br/>
                            <span class="info-dados">{{ nc?.num_ordem_compra || "" }}</span>
                        </div>
                    </div>
                    <div
                            class="contato-info d-flex flex-row mb-3 mr-5"
                            *ngIf="nc?.instruction?.code"
                    >
                        <i class="bi bi-file-earmark-text"></i>
                        <div>
                            <span class="info-titulo">IT</span>
                            <br/>
                            <div class="d-flex flex-row mt-2">
                <span class="info-dados">{{
                    nc?.instruction?.code || ""
                    }}</span>

                                <span class="info-dados ml-3">{{
                                    nc?.instruction?.description || ""
                                    }}</span>

                                <span class="info-dados ml-3">{{
                                    nc?.instruction?.rev || ""
                                    }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dados-parceiro col razao-social">
                    <p-editor
                            styleClass="p-editor-override"
                            [ngModel]="nc?.text_area_reject_point"
                            [style]="{ height: '100%', border: '0px solid #dddddd' }"
                            [readonly]="true"
                    >
                        <ng-template pTemplate="header" hidden></ng-template>
                    </p-editor>
                </div>
            </div>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab [selected]="isAllOpen">
        <ng-template pTemplate="header">
            <div class="d-flex justify-content-between accordion">
                <p>
                    <i class="bi bi-box-seam"></i>
                    {{ "global.description" | translate }}
                </p>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="d-flex flex-row justify-content-center radio-title">{{returnRadioValue()}}</div>
            <div class="div-ident-parceiro d-flex mt-3">
                <div class="dados-parceiro razao-social item">
                    <h2 class="mr-2">
                        <i class="bi bi-file-earmark-text"></i>
                        {{ "about.ncView.description" | translate }}
                    </h2>
                    <p-editor
                            styleClass="p-editor-override"
                            [style]="{
              height: '144px',
              border: '1px solid #dddddd',
              'font-size': '20px'
            }"
                            [readonly]="true"
                            [ngModel]="this.nc?.text_area_nc"
                    >
                        <ng-template pTemplate="header"></ng-template>
                    </p-editor>
                </div>
                <div class="dados-parceiro razao-social item">
                    <h2 class="mr-2 mb-5">
                        <i class="pi pi-camera"></i>
                        {{ "newNC.review.evidence" | translate }}
                    </h2>
                    <p-carousel
                            [value]="this.nc?.attachments?.filter(isType1) || []"
                            [numVisible]="3"
                            [numScroll]="3"
                            [showIndicators]="false"
                    >
                        <ng-template let-file pTemplate="item">
                            <div>
                                <i class="bi bi-file-earmark fs-1"></i>
                                <p>{{ file.name || "file.txt" }}</p>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
            <div class="div-ident-parceiro d-flex mt-3">
                <div class="dados-parceiro razao-social item">
                    <h2 class="mr-2">
                        <i class="bi bi-geo"></i>
                        {{ "newNC.step2.actionsTitle" | translate }}
                    </h2>
                    <p-editor
                            styleClass="p-editor-override"
                            [style]="{
              height: '144px',
              border: '1px solid #dddddd',
              'font-size': '20px'
            }"
                            [readonly]="true"
                            [ngModel]="this.nc?.text_area_acoes"
                    >
                        <ng-template pTemplate="header" hidden></ng-template>
                    </p-editor>
                </div>
                <div class="dados-parceiro razao-social item">
                    <h2 class="mr-2 mb-5">
                        <i class="pi pi-camera"></i>
                        {{ "newNC.review.evidence" | translate }}
                    </h2>
                    <p-carousel
                            [value]="this.nc?.attachments?.filter(isType2) || []"
                            [numVisible]="3"
                            [numScroll]="3"
                            [showIndicators]="false"
                    >
                        <ng-template let-file pTemplate="item">
                            <div>
                                <i class="bi bi-file-earmark fs-1"></i>
                                <p>{{ file.name || "file.txt" }}</p>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
        </ng-template>
    </p-accordionTab>
</p-accordion>
