<div *ngIf="returnOpScreen()">
  <label for="NumOp">Número da OP</label>
  <input
    [(ngModel)]="nonComplicanceService.nc.num_op"
    name="NumOp"
    type="text"
    pInputText
    placeholder="Digite"
    class="p-inputtext-sm input"
  />
</div>

<div *ngIf="returnNfScreen()">
  <label for="NumOp">Número da Nota</label>
  <input
    [(ngModel)]="nonComplicanceService.nc.num_nota"
    name="NumOp"
    type="text"
    pInputText
    placeholder="Digite"
    class="p-inputtext-sm input"
  />
</div>



<div class="input-box mt-3" *ngIf="returnPrScreen() || returnNfScreen()">
  <label class="mb-2 mt-3">Anexar Documentos</label>
  <div class="div-attachment">
    <h1>Envie seus documentos</h1>
    <div
      class="white-background"
      *ngIf="nonComplicanceService.fileControle.length == 0"
    >
      <input
        type="file"
        class="input-attachment"
        (change)="onUpload($event, 'pontoControle')"
        multiple
      />
      <i class="pi pi-cloud-upload"></i>
      <p>
        Arraste e solte ou <strong>navegue para escolher</strong> um arquivo
      </p>
    </div>
    <div
      class="white-background-files"
      *ngIf="returnFiles('pontoControle').length != 0"
    >
      <button
        type="button"
        (click)="clearFileName('pontoControle')"
        class="btn btn-light"
      >
        <i class="pi pi-replay"></i>
      </button>
      <p *ngFor="let files of returnFiles('pontoControle')">
        {{ files.name }}
      </p>
    </div>
  </div>
</div>
