<div *ngIf="returnOpScreen()">
  <label for="NumOp">{{'newNC.step1.checkpoint.op'| translate}}</label>
  <input
    [(ngModel)]="nonComplicanceService.nc.num_op"
    name="NumOp"
    type="text"
    pInputText
    [placeholder]="'global.type'| translate"
    class="p-inputtext-sm input"
  />
</div>

<div *ngIf="returnNfScreen()">
  <label for="NumOp">{{getString()}}</label>
  <input
    [(ngModel)]="nonComplicanceService.nc.num_nota"
    name="NumOp"
    type="text"
    pInputText
    [placeholder]="'global.type'| translate"
    class="p-inputtext-sm input"
  />
</div>



<div class="input-box mt-3" *ngIf="returnNfScreen()">
  <label class="mb-2 mt-3">{{'global.fileInput.title2'| translate}} </label>
  <app-attach [item]="'pontoControle'"></app-attach>
</div>

<div class="input-box mt-3" *ngIf="returnPrScreen()">
  <div class="row mt-3">
    <div class="col">
      <div class="p-fluid autoComplete mr-0">
        <label class="">{{'newNC.step1.rejectionPoint.pr'| translate}}</label>
        <p-autoComplete
                [(ngModel)]="nonComplicanceService.autoCompletePrValue"
                class="p-autocomplete"
                [suggestions]="resultsPr"
                (onSelect)="onSelectedPr()"
                (ngModelChange)="onChange()"
                (completeMethod)="searchPr($event)"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
                field="name"
                [placeholder]="'newNC.step1.rejectionPoint.searchPlaceholder'| translate"
        >
          <ng-template let-brand pTemplate="item">
            <div>
              <div class="d-flex justify-content-between">
                <div>
                  <span class="auto-complete-label">{{'newNC.step1.partner.codeUpper'| translate}}</span><br />
                  <span class="auto-complete-item">{{ brand.code }}</span>
                </div>
                <div>
                  <span class="auto-complete-label">{{'newNC.step1.rejectionPoint.descriptionUpper'| translate}}</span><br />
                  <span class="auto-complete-item">{{
                    brand.description
                    }}</span>
                </div>
                <div>
                  <span class="auto-complete-label">{{'newNC.step1.rejectionPoint.revisionUpper'| translate}}</span><br />
                  <span class="auto-complete-item">{{ brand.rev }}</span>
                </div>
              </div>
            </div></ng-template
          >
        </p-autoComplete>
      </div>
    </div>
    <div class="col att-button ml-0">
      <div>
<!--        <p class="p-0"><i class="pi pi-history"></i> {{'newNC.step1.lastUpdate'| translate}} {{ returnUpdateTime() }}</p>-->
        <a      target="_blank"
                href="ncs/import"
                role="button"
                style="background-color: #00344D;"
                class="btn btn-dark"
        >
          {{'newNC.step1.rejectionPoint.updatePr'| translate}}
          <i class="pi pi-download" id="icon-button"></i>
        </a>
      </div>
    </div>
  </div>
  <label class="mb-2 mt-3">{{'global.fileInput.title2'| translate}} </label>
  <app-attach [item]="'pontoControle'"></app-attach>
</div>
