<div class="div-attachment">
  <h1>{{ "global.fileInput.subtitle" | translate }}</h1>
  <div class="white-background" *ngIf="returnFiles(item).length == 0">
    <input
      type="file"
      accept=".pdf,image/jpeg,image/png,xlsx,xls"
      class="input-attachment"
      (change)="onUpload($event, item)"
      size=""
      multiple
    />
    <i class="pi pi-cloud-upload"></i>
    <p *ngIf="returnFiles(item).length == 0">
      {{ "global.fileInput.description" | translate }}
    </p>
  </div>
  <div class="white-background-files" *ngIf="returnFiles(item).length > 0">
    <div class="d-flex justify-content-start" style="width: 100%;">
      <label for="inputTag" style="cursor: pointer">
        <i class="bi bi-plus-circle-fill" style="font-size: 30px;color: rgb(0,91,123);"></i>
        <input
          id="inputTag"
          type="file"
          accept=".pdf,image/jpeg,image/png,xlsx,xls"
          class=""
          (change)="onUpload($event, item)"
          style="display: none"
          multiple
        />
      </label>
    </div>
    <div
      *ngFor="let files of returnFiles(item)"
      class="d-flex justify-content-center align-items-center files mt-3"
    >
      {{ files.name }}
      <button (click)="clearFileByName(files.name)">
        <i class="bi bi-x-circle"></i>
      </button>
    </div>
  </div>
</div>
