<div class="d-flex flex-lg-row flex-column justify-content-between">
    <div class="d-flex">
        <div class="cabecalho">
            <div class="d-flex align-items-center">
                <h1 class="mr-3">Avaliação da NC</h1>
            </div>
            <p>
                Vizualize a avaliação desta NC.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center mb-3">

        <button class="btn btn-dark ml-3" disabled>
            Fechar NC
            <i class="bi bi-file-earmark-check"></i>
        </button>
    </div>
</div>
<div class="image-box d-flex align-items-center justify-content-center mt-5">
    <img src="../../../../../../../assets/images/Ilustrações3.svg" alt="" />

</div>
<h2 class="text-center text-black">Ainda faltam algumas fases!</h2>
<h3 class="text-center text-black">Esta NC ainda não pode ser finalizada.</h3>
<h5 class="text-center">Verifique com o andamento desta NC e contate os responsáveis para a realização de suas tarefas para então finalizar esta NC.</h5>

<div class="text-center">
    <button type="button" class="btn btn-dark" (click)="openDialog()">
        Fechar NC
        <i class="bi bi-file-earmark-check"></i>
    </button>
</div>