
<div class="cabecalho">
    <h1>Não Conformidade</h1>
    <p>Preencha o campo abaixo com a descrição da NC e anexe evidências, sejam elas fotográficas ou documentais.</p>
</div>

<div class="div-desc">
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label for="desc-area">Descreve as ações imediatas</label>
                <textarea class="form-control" id="desc-area" rows="7"></textarea>
              </div>
        </div>
        <div class="col">
            <label for="desc-area">Descreve as ações imediatas</label>
           <div class="div-attachment">
                <h1>Envie seus documentos</h1>
                <div class="white-background">
                    <div class="attachment-content">
                        
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>