.content {
  border: 2px solid #333333;
  background: #eeeeee;
  border-radius: 8px;
  text-align: center;
}
.image-box {
  background: #fff;
  margin-inline: 8px;
  margin-bottom: 8px;
}
.image-box img {
  margin: 48px;
}
h4 {
  margin: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
}
@media (max-width: 600px) {
  .image-box img {
    padding: 10px;
  }
  .image-box img {
    width: 100%;
  }
}
