.content {
  border: 2px solid #333333;
  background: #eeeeee;
  border-radius: 8px;
  text-align: center;
  
}
.image-box {
  background: #fff;
  border-radius: 8px;
  margin-inline: 8px;
  margin-bottom: 8px;
  height: 140px;
}
.image-box img{
  min-width: 20%;
  min-height: 20%;
  padding: 15px;
  object-fit: cover;
  height: 140px;
}
h4 {
  margin: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
}
@media (max-width: 600px) {
  .image-box img {
    padding: 10px;
  }
  .image-box img {
    width: 25%;
  }
}
