<div class="div-ident-parceiro row">
  <h1 class="titulo-parceiro">{{ "newNC.step1.product.title" | translate }}</h1>
  <div class="dados-parceiro col razao-social">
    <div class="d-flex">
      <h2 class="mr-2">
        {{ this.nonComplicanceService.nc?.product?.description }}
      </h2>
      <p-chip>
        <i class="bi bi-ticket-perforated mr-2"></i>
        {{ this.nonComplicanceService.nc?.product?.code }}
      </p-chip>
    </div>
    <p class="d-block">
      {{ this.nonComplicanceService.nc?.product?.name }}
    </p>
  </div>
  <div class="dados-parceiro col">
    <div class="dados-contato d-flex flex-row justify-content-around">
      <div class="contato-info d-flex flex-row">
        <i class="bi bi-calculator"></i>
        <div>
          <span class="info-titulo">{{
            "newNC.step1.product.amount" | translate
          }}</span>
          <br />
          <span class="info-dados">{{
            this.nonComplicanceService.nc.quant_total || ""
          }}</span>
        </div>
      </div>
      <div class="contato-info d-flex flex-row">
        <i class="bi bi-calculator"></i>
        <div>
          <span class="info-titulo">{{
            "newNC.step1.product.amountNC" | translate
          }}</span>
          <br />
          <span class="info-dados">{{
            this.nonComplicanceService.nc.quant_nc || ""
          }}</span>
        </div>
      </div>
      <div class="contato-info d-flex flex-row">
        <i class="bi bi-percent"></i>
        <div>
          <span class="info-titulo">{{
            "newNC.step1.product.percent" | translate
          }}</span>
          <br />
          <span class="info-dados">{{ getPercent() }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="div-ident-parceiro mt-3">
  <h2>
    <i class="bi bi-people"></i>
    {{ "newNC.review.checkpoint" | translate }}
  </h2>

  <div class="d-flex flex-row">
    <i class="pi pi-directions mr-1"></i>
    <div class="d-flex">
      <span class="info-titulo">{{
        this.nonComplicanceService.nc?.tipo_controle || "global.empty"
          | translate
      }}</span>
      <div
              class="d-flex flex-row ml-5"
              *ngIf="this.nonComplicanceService.nc?.tipo_controle != 'PR'"
      >
        <i class="bi bi-calculator"></i>
        <span class="info-titulo">{{("global.number" | translate) + ": "+(returnNumber())}}</span>
      </div>
      <div class="d-flex flex-row mt-2">
        <span class="info-dados">{{
          this.nonComplicanceService.nc?.procedure?.code || ""
        }}</span>

        <span class="info-dados ml-3">{{
          this.nonComplicanceService.nc?.procedure?.description || ""
        }}</span>

        <span class="info-dados ml-3">{{
          this.nonComplicanceService.nc?.procedure?.rev || ""
        }}</span>
      </div>
    </div>
  </div>

  <div
    class="dados-parceiro razao-social item mt-3"
    *ngIf="returnFile('pontoControle').length > 0"
  >
    <h2 class="mr-2 mb-5">
      <i class="bi bi-paperclip"></i>
      {{ "global.fileInput.attachments" | translate }}
    </h2>
    <div *ngIf="!nonComplicanceService.displayPdf">
      <p-carousel
        [value]="returnFile('pontoControle')"
        [numVisible]="3"
        [numScroll]="3"
        [showIndicators]="false"
      >
        <ng-template let-file pTemplate="item">
          <i class="bi bi-file-earmark fs-1"></i>
          <p>{{ file.name }}</p>
        </ng-template>
      </p-carousel>
    </div>

    <div *ngIf="nonComplicanceService.displayPdf">
      <div class="d-flex flex-row flex-wrap">
        <div *ngFor="let item of returnFile('pontoControle')">
          {{ item.name + " /" }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="div-ident-parceiro pr-4 mt-3">
  <h2>
    <i class="bi bi-people"></i>
    {{ "newNC.step1.rejectionPoint.title" | translate }}
  </h2>
  <div class="d-flex dados-contato mb-3">
    <div
      class="contato-info d-flex flex-row mb-5 mr-5"
      *ngIf="this.nonComplicanceService.nc?.num_lote"
    >
      <i class="bi bi-file-earmark-text"></i>
      <div>
        <span class="info-titulo">{{
          "newNC.step1.rejectionPoint.numBatch" | translate
        }}</span>
        <br />
        <span class="info-dados">{{
          this.nonComplicanceService.nc?.num_lote || ""
        }}</span>
      </div>
    </div>
    <div
      class="contato-info d-flex flex-row mb-5 mr-5"
      *ngIf="this.nonComplicanceService.nc?.num_ordem_compra"
    >
      <i class="bi bi-file-earmark-text"></i>
      <div>
        <span class="info-titulo">{{
          "newNC.step1.rejectionPoint.numOC" | translate
        }}</span>
        <br />
        <span class="info-dados">{{
          this.nonComplicanceService.nc?.num_ordem_compra || ""
        }}</span>
      </div>
    </div>
    <div
      class="contato-info d-flex flex-row mb- mr-5"
      *ngIf="this.nonComplicanceService.nc?.instruction?.code"
    >
      <i class="bi bi-file-earmark-text"></i>
      <div>
        <span class="info-titulo">{{
          "newNC.step1.rejectionPoint.it" | translate
        }}</span>

        <div class="d-flex flex-row mt-2">
          <span class="info-dados">{{
            this.nonComplicanceService.nc?.instruction?.code || ""
          }}</span>

          <span class="info-dados ml-3">{{
            this.nonComplicanceService.nc?.instruction?.description || ""
          }}</span>

          <span class="info-dados ml-3">{{
            this.nonComplicanceService.nc?.instruction?.rev || ""
          }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="dados-parceiro col razao-social">
    <p-editor
      [(ngModel)]="this.nonComplicanceService.nc.text_area_reject_point"
      [style]="{
        height: '100%',
        border: '0px solid #dddddd',
        'font-size': '25px'
      }"
      [readonly]="true"
    >
      <ng-template pTemplate="header" hidden> </ng-template>
    </p-editor>
  </div>
</div>
