<div class="div-ident-parceiro row">
    <h1 class="titulo-parceiro">Dados do Produto</h1>
    <div class="dados-parceiro col razao-social">
        <div class="d-flex">
            <h2 class="mr-2">Caixa de Pandora</h2>
            <p-chip>
                <i class="bi bi-ticket-perforated mr-2"></i>
                {{464646}}
            </p-chip>
        </div>
        <p class="d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus facere magni mollitia sapiente. Ea eum libero nihil quam quas sed unde vitae? Aliquam commodi debitis eos labore maiores, officiis pariatur.</p>
    </div>
    <div class="dados-parceiro col">
        <div class="dados-contato">
            <div class="d-flex justify-content-between">
                <h2>Dados de NC</h2>
            </div>
            <div class="contato-info d-flex flex-row">
                <i class="bi bi-calculator"></i>
                <div>
                    <span class="info-titulo">Quantidade Total</span>
                    <br />
                    <span class="info-dados">2500</span>
                </div>
            </div>
            <div class="contato-info d-flex flex-row">
                <i class="bi bi-calculator"></i>
                <div>
                    <span class="info-titulo">Quantidade em Não Conformidade</span>
                    <br />
                    <span class="info-dados">150</span>
                </div>
            </div>
            <div class="contato-info d-flex flex-row">
                <i class="bi bi-percent"></i>
                <div>
                    <span class="info-titulo">Percentual</span>
                    <br />
                    <span class="info-dados">sfsdfsdf</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-ident-parceiro mt-3">
    <h2>
        <i class="bi bi-people"></i>
        Ponto de Controle
    </h2>
    <div class="d-flex">
        <div class="col-6">
            <div>
                <i class="pi pi-directions"></i>
                <span class="info-titulo">Instrução</span>
            </div>
            <span class="info-dados">Lorem ipsum dolor sit amet, consectetur adipisicing e</span>
        </div>
        <div>
            <div>
                <i class="bi bi-calculator"></i>
                <span class="info-titulo">Número de Controle</span>
            </div>
            <p class="info-dados">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</div>
<div class="div-ident-parceiro mt-3">
    <h2>
        <i class="bi bi-people"></i>
        Ponto de Rejeição
    </h2>
    <div class="d-flex">
        <div class="col-6">
            <div>
                <i class="pi pi-directions"></i>
                <span class="info-titulo">Instrução</span>
            </div>
            <p class="info-dados">Lorem ipsum dolor sit amet, consectetur adipisicing e</p>
        </div>
        <div>
            <div>
                <i class="bi bi-chat-text"></i>
                <span class="info-titulo">Resposta</span>
            </div>
            <p class="info-dados">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</div>