<div>
    <h2>
        Dados do Produto
    </h2>
    <div class="d-flex">
        <div class="col-6">
            <div class="d-flex">
                <h2 class="mr-2">Caixa de Pandora</h2>
                <p-chip>
                    <i class="bi bi-ticket-perforated mr-2"></i>
                    {{464646}}
                </p-chip>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, animi aperiam architecto, dicta ducimus eius et eum neque nobis numquam praesentium quod recusandae saepe sunt voluptatum. A assumenda consequuntur perferendis.
                </p>
            </div>
        </div>
        <div>
            <h2>
                Dados de NC
            </h2>
            <h3>Quantidade Total</h3>
            <p>2500</p>
            <h3>Quantidade em Não Conformidade</h3>
            <p>150</p>
            <h3>
                <i class="bi bi-percent"></i>
                Percentual
            </h3>
            <p>6%</p>
        </div>
    </div>

</div>
<div>
    <h2>
        <i class="bi bi-people"></i>
        Ponto de Controle
    </h2>
    <div class="d-flex">
        <div class="col-6">
            <h3>
                Instrução
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing e</p>
        </div>
        <div>
            <h3>
                Número de Controle
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</div>
<div>
    <h2>
        <i class="bi bi-people"></i>
        Ponto de Rejeição
    </h2>
    <div class="d-flex">
        <div class="col-6">
            <h3>
                Instrução
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing e</p>
        </div>
        <div>
            <h3>
                <i class="bi bi-chat-text"></i>
                Resposta
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</div>