<form [formGroup]="nonComplicanceService.formIdentificacaoNC">
  <div class="cabecalho">
    <p>Os campos marcados com asterisco (*) são de preenchimento
      obrigatório</p>
    <h1>Identificação da Não Conformidade</h1>
    <p>Preencha os campos abaixo com as informações da NC</p>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="dropdown">
        <label for="">Tipo de NC *</label>
        <select id="selectTypeNc" (change)="checkAuditoria($event.target.value)" formControlName="tipos_nc_item">
          <option [ngValue]="null" disabled selected hidden>Selecione...</option>
          <option *ngFor="let tiposNc of tiposNc" value="{{ tiposNc }}">{{ tiposNc }}</option>
        </select>
      </div>
    </div>








    <div class="d-flex flex-column inputs-sm  col-5" >
      <label for="tipos_auditoria_item">Segmento de Auditoria *</label>
      <input
              formControlName="tipos_auditoria_item"
              name="tipos_auditoria_item"
              type="text"
              pInputText
              placeholder="Digite"
              class="p-inputtext-sm input"
              id="inputAuditoria"
              disabled
      />
    </div>










    <div class="col">
      <div class="dropdown">
        <label for="">Setor/Local Afetado *</label>
        <select formControlName="tipos_local_item">
          <option [ngValue]="null" disabled selected hidden>Selecione...</option>
          <option *ngFor="let item of nonComplicanceService.sectors" [attr.selected]="nonComplicanceService.nc.tipos_local_item==item.name ? true : null">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  
    <!-- <div class="col">
      <div class="dropdown">
        <label for="">Setor/Departamento Afetado</label>
        <select formControlName="tipos_local_item">
          <option [ngValue]="null" disabled selected hidden>Selecione...</option>
          <option *ngFor="let item of nonComplicanceService.sectors">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
  </div> -->
  
  <div class="row">
    <div class="col date-group">
      <div><label for="date-input">Data de Abertura</label></div>
      <span class="p-input-icon-left">
        <i class="pi pi-calendar"></i>
        <input disabled
          type="date"
          pInputText
          id="date-input"
          formControlName="data_abertura"
        />
      </span>
      <p>Altere a data caso a NC tenha acontecido antes deste cadastro.</p>
    </div>
  
    <div class="col date-group">
      <div><label for="date-input">Data de Fechamento</label></div>
  
      <span class="p-input-icon-left">
        <i class="pi pi-calendar icone"></i>
        <input disabled
          type="date"
          pInputText
          id="date-input"
          formControlName="data_fechamento"
        />
      </span>
      <p>
        Programada automaticamente para 30 dias corridos após a data de abertura.
      </p>
    </div>
  </div>
</form>


<div class="pt-3 pb-3">
  <p-divider class=""></p-divider>
</div>
