<div class="stepper-content">
  <div class="stepper-buttons">
    <div class="col-2 p-0">
      <button
        pButton
        pRipple
        type="button"
        label="Voltar"
        (click)="backStep()"
        class="p-button-secondary"
        icon="pi pi-arrow-left"
        [disabled]="isFirstStep()"
      ></button>
    </div>
    <div class="col-8">
      <p-steps
        [model]="items"
        [readonly]="true"
        [activeIndex]="stepPosition"
      ></p-steps>
    </div>
    <div class="col-2 d-flex justify-content-end p-0">
      <div>
        <button
          pButton
          pRipple
          type="button"
          (click)="nextStep()"
          [label]="getNextPageBtnLabel()"
          [disabled]="disableButton()"
          class="p-button-secondary"
          iconPos="right"
          [icon]="getNextPageBtnIcon()"
        ></button>
      </div>
    </div>
  </div>
  <div class="content-create-nc">
    <div *ngIf="stepPosition === 0">
      <app-identificar-nc></app-identificar-nc>
    </div>
    <div *ngIf="stepPosition === 1">
      <app-step2></app-step2>
    </div>
    <div *ngIf="stepPosition === 2">
      <app-step3></app-step3>
    </div>
  </div>
</div>
