<div class="stepper-content">
  <div class="stepper-buttons">
    <div class="col-2 p-0">
      <button type="button"
              class="btn btn-dark btn-sm"
              (click)="backStep()"
              [disabled]="isFirstStep()">
        <i class="pi pi-arrow-left"></i>
        Voltar
      </button>
    </div>
    <div class="col-8 stepper">
      <p-steps
        [model]="items"
        [readonly]="true"
        [activeIndex]="stepPosition"
      ></p-steps>
    </div>
    <div class="col-2 d-flex justify-content-end p-0">
      <div>
        <button
          type="button"
          (click)="nextStep()"
          [disabled]="disableButton()"
          class="btn btn-dark btn-sm"
        >
          {{getNextPageBtnLabel()}}
          <i [class]="getNextPageBtnIcon()"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="content-create-nc">
    <div *ngIf="stepPosition === 0">
      <app-identificar-nc></app-identificar-nc>
    </div>
    <div *ngIf="stepPosition === 1">
      <app-step2></app-step2>
    </div>
    <div *ngIf="stepPosition === 2">
      <app-step3></app-step3>
    </div>
    <div *ngIf="stepPosition === 3">
      <app-step4></app-step4>
    </div>
  </div>
</div>
